{
  "openapi": "3.0.0",
  "info": {
    "title": "Mentio API",
    "version": "0.0.1",
    "description": "Keyword and brand mention tracking across dev platforms."
  },
  "servers": [
    {
      "url": "https://api.mentio.dev"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key minted via POST /v1/api-keys (format mk_live_...)"
      }
    },
    "schemas": {
      "Keyword": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Keyword id (kw_...)."
          },
          "term": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "brand",
              "competitor",
              "topic"
            ]
          },
          "muted": {
            "type": "boolean",
            "description": "Not polled or matched. Either paused by you or by the wallet (see pausedForBalance)."
          },
          "pausedForBalance": {
            "type": "boolean",
            "description": "Muted by the wallet for lack of balance; a top-up resumes it, unmuting by hand needs balance too."
          },
          "platforms": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string",
              "enum": [
                "bluesky",
                "hackernews",
                "github",
                "stackoverflow",
                "devto",
                "reddit",
                "x",
                "youtube",
                "news",
                "linkedin"
              ]
            },
            "minItems": 1,
            "description": "Platforms this keyword is tracked on; null means every platform."
          },
          "context": {
            "type": "string",
            "nullable": true,
            "maxLength": 300,
            "description": "A sentence the classifier reads for this keyword only, on top of the company profile (at most 300 characters): what the term means here, what to ignore. \"Arc is our browser; ignore the geometry word.\" Null clears it."
          },
          "matching": {
            "type": "object",
            "properties": {
              "requiredTerms": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 80
                },
                "maxItems": 50,
                "description": "The post must ALSO contain these terms, any one of them or all of them per requiredMode. Empty: no requirement."
              },
              "requiredMode": {
                "type": "string",
                "enum": [
                  "any",
                  "all"
                ],
                "description": "any: at least one required term must appear. all: every one must."
              },
              "excludedTerms": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 80
                },
                "maxItems": 50,
                "description": "A post containing any of these is dropped. A `*` at the start or the end of an entry is a wildcard (beta.* matches beta.0.1; *bot matches nightlybot)."
              },
              "excludedAuthors": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 500
                },
                "maxItems": 100,
                "description": "Posts by these authors are dropped: profile or post links, @handles, u/names, Bluesky DIDs or display names, stored in canonical form like an alert's muted list."
              },
              "caseSensitive": {
                "type": "boolean",
                "description": "true: the term must appear in the case it was typed (RAG, never rag). Default false."
              }
            },
            "required": [
              "requiredTerms",
              "requiredMode",
              "excludedTerms",
              "excludedAuthors",
              "caseSensitive"
            ],
            "description": "Matching rules applied before a mention is stored; a rejected post is never billed."
          },
          "stats": {
            "type": "object",
            "properties": {
              "mentions": {
                "type": "integer",
                "minimum": 0,
                "description": "Every match ever, relevant or not: the number billing counts."
              },
              "relevant": {
                "type": "integer",
                "minimum": 0,
                "description": "Matches scored at or above the relevance threshold."
              },
              "last7d": {
                "type": "integer",
                "minimum": 0,
                "description": "Matches published in the last 7 days."
              },
              "lastMentionAt": {
                "type": "string",
                "nullable": true,
                "description": "Newest matched post; null until the first one."
              },
              "feedback": {
                "type": "object",
                "properties": {
                  "relevant": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Mentions a person marked relevant."
                  },
                  "notRelevant": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Mentions a person marked not relevant: the noise the classifier let through."
                  }
                },
                "required": [
                  "relevant",
                  "notRelevant"
                ],
                "description": "Your verdicts on this keyword's mentions (PATCH /v1/mentions/{id} relevant)."
              }
            },
            "required": [
              "mentions",
              "relevant",
              "last7d",
              "lastMentionAt",
              "feedback"
            ],
            "description": "Computed over this workspace's matches."
          },
          "polling": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "platform": {
                  "type": "string",
                  "enum": [
                    "bluesky",
                    "hackernews",
                    "github",
                    "stackoverflow",
                    "devto",
                    "reddit",
                    "x",
                    "youtube",
                    "news",
                    "linkedin"
                  ],
                  "description": "Platform: bluesky, hackernews, github, stackoverflow, devto, reddit, x, youtube, news, linkedin."
                },
                "lastPolledAt": {
                  "type": "string",
                  "nullable": true,
                  "description": "Newest poll of this platform for the term; null until the first one."
                },
                "emptyPolls": {
                  "type": "integer",
                  "description": "Consecutive polls that found nothing new; the scheduler slows down as it grows."
                }
              },
              "required": [
                "platform",
                "lastPolledAt",
                "emptyPolls"
              ]
            },
            "description": "Poll health per platform polled on a schedule. Live feeds (Bluesky) have no entry."
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 timestamp, UTC."
          }
        },
        "required": [
          "id",
          "term",
          "kind",
          "muted",
          "pausedForBalance",
          "platforms",
          "context",
          "matching",
          "stats",
          "polling",
          "createdAt"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "unauthorized",
                  "forbidden",
                  "read_only_key",
                  "validation_error",
                  "not_found",
                  "invalid_cursor",
                  "payload_too_large",
                  "rate_limited",
                  "duplicate_keyword",
                  "insufficient_balance",
                  "keyword_limit_reached",
                  "billing_not_configured",
                  "order_not_credited",
                  "schedule_required",
                  "unknown_channel",
                  "not_a_digest",
                  "slack_not_connected",
                  "slack_not_configured",
                  "telegram_not_configured",
                  "email_not_configured",
                  "invalid_assignee",
                  "classification_pending",
                  "invalid_member",
                  "already_member",
                  "last_owner",
                  "duplicate_segment",
                  "invalid_signature",
                  "webhook_not_configured",
                  "invalid_token",
                  "protected_user",
                  "upstream_unavailable",
                  "internal_error"
                ],
                "description": "Stable machine-readable code; branch on this, never on the message. Codes are additive: a client should treat one it does not know as a generic failure of the same status."
              },
              "message": {
                "type": "string",
                "description": "Human-readable detail; may change between releases."
              },
              "requestId": {
                "type": "string",
                "description": "The id of this request (also the X-Request-Id response header); quote it to support."
              },
              "retryAfterSeconds": {
                "type": "integer",
                "description": "For rate_limited and other retryable errors: how long to wait before retrying (mirrors the Retry-After header)."
              }
            },
            "required": [
              "code",
              "message"
            ],
            "description": "The error."
          }
        },
        "required": [
          "error"
        ]
      },
      "WorkspaceFilters": {
        "type": "object",
        "properties": {
          "excludedTerms": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 80
            },
            "maxItems": 200,
            "description": "A post containing any of these is dropped, whatever keyword matched it. Same phrase rule as a keyword; a `*` at an end is a wildcard. \"hiring, job, careers\" is the classic list."
          },
          "excludedAuthors": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 500
            },
            "maxItems": 200,
            "description": "Posts by these authors are dropped everywhere: your own accounts, employees, known spammers. Profile or post links, @handles, u/names, Bluesky DIDs or display names, stored in canonical form."
          },
          "excludedRepos": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "maxItems": 200,
            "description": "GitHub repositories whose issues, pull requests and comments are dropped, as owner/name or a github.com link (facebook/react, https://github.com/facebook/react)."
          },
          "subreddits": {
            "type": "object",
            "properties": {
              "only": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 100
                },
                "maxItems": 200,
                "description": "When non-empty, ONLY Reddit posts from these subreddits pass and `excluded` is ignored. r/name or name."
              },
              "excluded": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 100
                },
                "maxItems": 200,
                "description": "Reddit posts from these subreddits are dropped. r/name or name."
              }
            },
            "required": [
              "only",
              "excluded"
            ],
            "description": "Reddit only."
          },
          "updatedAt": {
            "type": "string",
            "nullable": true,
            "description": "Last edit; null until the first."
          }
        },
        "required": [
          "excludedTerms",
          "excludedAuthors",
          "excludedRepos",
          "subreddits",
          "updatedAt"
        ],
        "description": "Workspace-wide matching rules; a rejected post is never billed."
      },
      "Mention": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Mention id (mm_...): one post matched to one of your keywords. A post matching two keywords has two ids."
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "ignored",
              "done"
            ],
            "description": "open: nobody handled it yet. ignored: hidden from the feed and channels by you. done: handled."
          },
          "relevant": {
            "type": "boolean",
            "description": "The classifier scored it at or above the delivery threshold (40)."
          },
          "delivered": {
            "type": "boolean",
            "description": "Reached at least one of your channels."
          },
          "priority": {
            "type": "number",
            "description": "Attention score, one decimal, computed at read time: relevance halved, author reach on a follower ladder (unknown reach counts 8), the strongest intent (buy intent 20 down to praise 5), minus 2 per day of age floored at 20."
          },
          "keyword": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "term": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "term"
            ],
            "description": "The keyword this post matched."
          },
          "post": {
            "type": "object",
            "properties": {
              "platform": {
                "type": "string",
                "enum": [
                  "bluesky",
                  "hackernews",
                  "github",
                  "stackoverflow",
                  "devto",
                  "reddit",
                  "x",
                  "youtube",
                  "news",
                  "linkedin"
                ],
                "description": "Platform: bluesky, hackernews, github, stackoverflow, devto, reddit, x, youtube, news, linkedin."
              },
              "url": {
                "type": "string",
                "description": "Permalink of the post."
              },
              "text": {
                "type": "string",
                "description": "Title and body, truncated to 8 KB at ingest."
              },
              "links": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Links the post carries, in the order written, at most 20. Empty for a post with none, and for posts ingested before September 2026."
              },
              "publishedAt": {
                "type": "string",
                "description": "When the post was published."
              },
              "replyTo": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "author": {
                    "type": "string",
                    "nullable": true,
                    "description": "Parent post author as the platform names them."
                  },
                  "url": {
                    "type": "string",
                    "nullable": true,
                    "description": "Parent post URL."
                  },
                  "text": {
                    "type": "string",
                    "nullable": true,
                    "description": "Parent post text, when the platform gave it."
                  }
                },
                "required": [
                  "author",
                  "url",
                  "text"
                ],
                "description": "The post this one replies to (X, Bluesky); null for top-level posts."
              }
            },
            "required": [
              "platform",
              "url",
              "text",
              "links",
              "publishedAt",
              "replyTo"
            ]
          },
          "author": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string",
                "nullable": true,
                "description": "Person id (aut_...) for GET /v1/people/{id}; null when the account is not in the audience yet."
              },
              "name": {
                "type": "string",
                "nullable": true,
                "description": "Display name as the platform reports it."
              },
              "handle": {
                "type": "string",
                "nullable": true,
                "description": "Platform handle derived from the profile URL, formatted as the platform shows it (@name, u/name); null where the platform has none."
              },
              "url": {
                "type": "string",
                "nullable": true,
                "description": "Profile URL."
              },
              "avatarUrl": {
                "type": "string",
                "nullable": true,
                "description": "Profile picture; null where the platform has none."
              },
              "followers": {
                "type": "integer",
                "nullable": true,
                "description": "Follower count as of their newest post; null where the platform has none."
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Your workspace tags on this person."
              }
            },
            "required": [
              "id",
              "name",
              "handle",
              "url",
              "avatarUrl",
              "followers",
              "tags"
            ],
            "description": "Who posted it; null when the platform gave no author at all."
          },
          "classification": {
            "type": "object",
            "nullable": true,
            "properties": {
              "relevance": {
                "type": "integer",
                "nullable": true,
                "minimum": 0,
                "maximum": 100,
                "description": "0 to 100; null only when classification failed."
              },
              "sentiment": {
                "type": "string",
                "nullable": true,
                "enum": [
                  "positive",
                  "neutral",
                  "negative"
                ],
                "description": "Classifier sentiment."
              },
              "intents": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Intent and topic tags: buy_intent, question, complaint, praise, comparison, churn_intent (leaving or replacing the keyword), bug_report, pricing, hiring, event, promotional."
              },
              "automated": {
                "type": "boolean",
                "description": "The post reads as machine-made: a bot or app account, a scheduled or templated post, an obvious AI-written summary. A label only: automated mentions stay in the feed, are delivered as usual and are billed like any other match. false while unjudged."
              },
              "language": {
                "type": "string",
                "nullable": true,
                "description": "The language the post is written in, as an ISO 639-1 code (en, es, de); null when unknown or classified before languages were recorded."
              },
              "confidence": {
                "type": "number",
                "nullable": true,
                "minimum": 0,
                "maximum": 1,
                "description": "How sure the classifier is of its relevance verdict, 0 to 1. null when the verdict came without one: the fallback model judged, or the row was scored before confidence was recorded."
              },
              "uncertain": {
                "type": "boolean",
                "description": "The verdict deserves a human look: confidence under 0.4, or the model that wrote the note disagreed with the verdict. A flag for reviewers; it never hides a mention."
              },
              "note": {
                "type": "string",
                "nullable": true,
                "description": "One sentence from the classifier explaining the score."
              },
              "failed": {
                "type": "boolean",
                "description": "true when the model could not score this post; it stays in the feed and is not billed."
              },
              "feedback": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "relevant": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "Your verdict on relevance, or null when you only corrected the sentiment."
                  },
                  "sentiment": {
                    "type": "string",
                    "nullable": true,
                    "enum": [
                      "positive",
                      "neutral",
                      "negative"
                    ],
                    "description": "Your corrected sentiment, or null when you only judged relevance."
                  },
                  "at": {
                    "type": "string",
                    "description": "When the last verdict was given."
                  },
                  "original": {
                    "type": "object",
                    "properties": {
                      "relevance": {
                        "type": "integer",
                        "nullable": true,
                        "minimum": 0,
                        "maximum": 100,
                        "description": "What the classifier scored before your verdict; null if it had not scored it."
                      },
                      "sentiment": {
                        "type": "string",
                        "nullable": true,
                        "enum": [
                          "positive",
                          "neutral",
                          "negative"
                        ],
                        "description": "The sentiment the classifier gave before your correction."
                      }
                    },
                    "required": [
                      "relevance",
                      "sentiment"
                    ],
                    "description": "The classifier values your feedback replaced."
                  }
                },
                "required": [
                  "relevant",
                  "sentiment",
                  "at",
                  "original"
                ],
                "description": "A person's correction of the verdict, or null. A relevance verdict sets `relevance` to 100 or 0 and `relevant` with it; a corrected sentiment replaces `sentiment`. Every list, filter, digest and report reads the corrected values."
              }
            },
            "required": [
              "relevance",
              "sentiment",
              "intents",
              "automated",
              "language",
              "confidence",
              "uncertain",
              "note",
              "failed",
              "feedback"
            ],
            "description": "The classifier verdict, as corrected by your feedback; null while the post is still queued for classification."
          },
          "triage": {
            "type": "object",
            "properties": {
              "assignee": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string",
                    "nullable": true
                  },
                  "email": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "required": [
                  "id",
                  "name",
                  "email"
                ],
                "description": "Workspace member this mention is assigned to; null when unassigned."
              },
              "snoozedUntil": {
                "type": "string",
                "nullable": true,
                "description": "Until when the mention stays out of the feed; null when not snoozed."
              },
              "note": {
                "type": "string",
                "nullable": true,
                "description": "Internal note; null when none."
              }
            },
            "required": [
              "assignee",
              "snoozedUntil",
              "note"
            ]
          },
          "createdAt": {
            "type": "string",
            "description": "When the match was recorded; the default feed order."
          }
        },
        "required": [
          "id",
          "status",
          "relevant",
          "delivered",
          "priority",
          "keyword",
          "post",
          "author",
          "classification",
          "triage",
          "createdAt"
        ]
      },
      "Person": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Person id (aut_...): the canonical account. An account merged into someone resolves to that person."
          },
          "platform": {
            "type": "string",
            "enum": [
              "bluesky",
              "hackernews",
              "github",
              "stackoverflow",
              "devto",
              "reddit",
              "x",
              "youtube",
              "news",
              "linkedin"
            ],
            "description": "Platform of the canonical account; `accounts` lists every account."
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Display name as of their newest post; null when the platform has none."
          },
          "handle": {
            "type": "string",
            "nullable": true,
            "description": "Platform handle of the canonical account, formatted as the platform shows it."
          },
          "url": {
            "type": "string",
            "nullable": true,
            "description": "Profile URL of the canonical account."
          },
          "avatarUrl": {
            "type": "string",
            "nullable": true
          },
          "accounts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The account id (aut_...); the canonical one equals the person id."
                },
                "platform": {
                  "type": "string",
                  "enum": [
                    "bluesky",
                    "hackernews",
                    "github",
                    "stackoverflow",
                    "devto",
                    "reddit",
                    "x",
                    "youtube",
                    "news",
                    "linkedin"
                  ],
                  "description": "Platform: bluesky, hackernews, github, stackoverflow, devto, reddit, x, youtube, news, linkedin."
                },
                "name": {
                  "type": "string",
                  "nullable": true,
                  "description": "Display name as the platform reports it."
                },
                "handle": {
                  "type": "string",
                  "nullable": true,
                  "description": "Platform handle derived from the profile URL, formatted as the platform shows it."
                },
                "url": {
                  "type": "string",
                  "nullable": true,
                  "description": "Profile URL."
                }
              },
              "required": [
                "id",
                "platform",
                "name",
                "handle",
                "url"
              ]
            },
            "description": "Every account this workspace treats as this person, the canonical one first."
          },
          "reach": {
            "type": "object",
            "properties": {
              "followers": {
                "type": "integer",
                "nullable": true
              },
              "following": {
                "type": "integer",
                "nullable": true
              },
              "posts": {
                "type": "integer",
                "nullable": true
              }
            },
            "required": [
              "followers",
              "following",
              "posts"
            ],
            "description": "Platform counts as of their newest post; null where the platform has no such number."
          },
          "profile": {
            "type": "object",
            "nullable": true,
            "properties": {
              "bio": {
                "type": "string",
                "nullable": true
              },
              "company": {
                "type": "string",
                "nullable": true
              },
              "location": {
                "type": "string",
                "nullable": true
              },
              "website": {
                "type": "string",
                "nullable": true
              },
              "email": {
                "type": "string",
                "nullable": true,
                "description": "Only when the person made it public on the platform."
              },
              "links": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "provider": {
                      "type": "string",
                      "minLength": 1
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "required": [
                    "provider",
                    "url"
                  ]
                },
                "description": "Other accounts the person lists on their profile."
              },
              "fetchedAt": {
                "type": "string",
                "description": "When the profile was read."
              }
            },
            "required": [
              "bio",
              "company",
              "location",
              "website",
              "email",
              "links",
              "fetchedAt"
            ],
            "description": "Public profile facts; null until looked up."
          },
          "stats": {
            "type": "object",
            "properties": {
              "mentions": {
                "type": "integer",
                "minimum": 0,
                "description": "Every match of theirs for this workspace, relevant or not."
              },
              "relevant": {
                "type": "integer",
                "minimum": 0,
                "description": "Of those, scored relevant."
              },
              "sentiment": {
                "type": "object",
                "properties": {
                  "positive": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "neutral": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "negative": {
                    "type": "integer",
                    "minimum": 0
                  }
                },
                "required": [
                  "positive",
                  "neutral",
                  "negative"
                ]
              },
              "firstSeenAt": {
                "type": "string",
                "description": "Their oldest matched post."
              },
              "lastSeenAt": {
                "type": "string",
                "description": "Their newest matched post."
              }
            },
            "required": [
              "mentions",
              "relevant",
              "sentiment",
              "firstSeenAt",
              "lastSeenAt"
            ],
            "description": "Computed over this workspace's matches."
          },
          "annotations": {
            "type": "object",
            "properties": {
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "notes": {
                "type": "string"
              },
              "muted": {
                "type": "boolean",
                "description": "Their posts stay out of the feed and every channel; ingest and billing are untouched."
              }
            },
            "required": [
              "tags",
              "notes",
              "muted"
            ],
            "description": "What this workspace wrote about the person."
          },
          "outreach": {
            "type": "object",
            "properties": {
              "owner": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "User id of the workspace member."
                  },
                  "name": {
                    "type": "string",
                    "nullable": true
                  },
                  "email": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "required": [
                  "id",
                  "name",
                  "email"
                ],
                "description": "The teammate who owns the contact; null when nobody does, or the owner left the workspace."
              },
              "stage": {
                "type": "string",
                "enum": [
                  "not_contacted",
                  "contacted",
                  "replied",
                  "in_talks",
                  "customer",
                  "not_a_fit"
                ],
                "description": "Where your workspace stands with the person: not_contacted, contacted, replied, in_talks, customer or not_a_fit."
              },
              "lastContactedAt": {
                "type": "string",
                "nullable": true,
                "description": "The newest logged activity; null when nobody logged a contact."
              }
            },
            "required": [
              "owner",
              "stage",
              "lastContactedAt"
            ],
            "description": "Where your workspace stands with the person. The first logged activity claims an unowned person for whoever reached out and moves not_contacted to contacted."
          }
        },
        "required": [
          "id",
          "platform",
          "name",
          "handle",
          "url",
          "avatarUrl",
          "accounts",
          "reach",
          "profile",
          "stats",
          "annotations",
          "outreach"
        ]
      },
      "PersonActivity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Activity id (act_...)."
          },
          "personId": {
            "type": "string",
            "description": "The person it belongs to (aut_...)."
          },
          "channel": {
            "type": "string",
            "enum": [
              "email",
              "x",
              "linkedin",
              "bluesky",
              "reddit",
              "github",
              "call",
              "meeting",
              "other"
            ],
            "description": "How they were reached: email, x, linkedin, bluesky, reddit, github, call, meeting or other."
          },
          "note": {
            "type": "string",
            "description": "What was sent or said, briefly; empty when nothing was written."
          },
          "member": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string",
                "description": "User id of the workspace member."
              },
              "name": {
                "type": "string",
                "nullable": true
              },
              "email": {
                "type": "string",
                "nullable": true
              }
            },
            "required": [
              "id",
              "name",
              "email"
            ],
            "description": "Who reached out; null when an API key logged it without naming a member, or that member left the workspace."
          },
          "occurredAt": {
            "type": "string",
            "description": "When the contact happened."
          },
          "createdAt": {
            "type": "string",
            "description": "When it was logged."
          }
        },
        "required": [
          "id",
          "personId",
          "channel",
          "note",
          "member",
          "occurredAt",
          "createdAt"
        ]
      },
      "Segment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Segment id (seg_...)."
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "filter": {
            "type": "object",
            "properties": {
              "platforms": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "bluesky",
                    "hackernews",
                    "github",
                    "stackoverflow",
                    "devto",
                    "reddit",
                    "x",
                    "youtube",
                    "news",
                    "linkedin"
                  ],
                  "description": "Platform: bluesky, hackernews, github, stackoverflow, devto, reddit, x, youtube, news, linkedin."
                },
                "maxItems": 20,
                "description": "People with an account on any of these platforms."
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "maxItems": 20,
                "description": "People carrying any of these tags."
              },
              "minFollowers": {
                "type": "integer",
                "minimum": 0,
                "description": "At least this many followers. Unknown reach never matches."
              },
              "maxFollowers": {
                "type": "integer",
                "minimum": 0,
                "description": "At most this many followers. Unknown reach never matches."
              },
              "minMentions": {
                "type": "integer",
                "minimum": 1,
                "description": "At least this many matched mentions."
              },
              "minNegative": {
                "type": "integer",
                "minimum": 1,
                "description": "At least this many negative mentions."
              },
              "intents": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "maxItems": 10,
                "description": "At least one mention carrying any of these intents."
              },
              "keywordKinds": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "brand",
                    "competitor",
                    "topic"
                  ]
                },
                "maxItems": 3,
                "description": "Mentioned a keyword of any of these kinds."
              },
              "neverKeywordKinds": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "brand",
                    "competitor",
                    "topic"
                  ]
                },
                "maxItems": 3,
                "description": "Never mentioned a keyword of these kinds."
              },
              "notPlatforms": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "bluesky",
                    "hackernews",
                    "github",
                    "stackoverflow",
                    "devto",
                    "reddit",
                    "x",
                    "youtube",
                    "news",
                    "linkedin"
                  ],
                  "description": "Platform: bluesky, hackernews, github, stackoverflow, devto, reddit, x, youtube, news, linkedin."
                },
                "maxItems": 20,
                "description": "Nobody with an account on these platforms."
              },
              "notTags": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "maxItems": 20,
                "description": "Nobody carrying any of these tags."
              },
              "notIntents": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "maxItems": 10,
                "description": "Nobody whose mentions carry any of these intents."
              },
              "newSinceDays": {
                "type": "integer",
                "minimum": 1,
                "maximum": 365,
                "description": "First seen within this many days."
              },
              "linkHosts": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200
                },
                "maxItems": 20,
                "description": "At least one mention linking to any of these hosts, the host itself or a subdomain of it."
              },
              "muted": {
                "type": "boolean",
                "description": "true: only muted people; false: only unmuted."
              },
              "stages": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "not_contacted",
                    "contacted",
                    "replied",
                    "in_talks",
                    "customer",
                    "not_a_fit"
                  ],
                  "description": "Where your workspace stands with the person: not_contacted, contacted, replied, in_talks, customer or not_a_fit."
                },
                "maxItems": 6,
                "description": "People at any of these outreach stages."
              },
              "automated": {
                "type": "boolean",
                "description": "true: only people whose matched posts are mostly machine-made (bot accounts); false: only the rest."
              },
              "ownerIds": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200
                },
                "maxItems": 20,
                "description": "People owned by any of these members (user ids); \"none\" matches people nobody owns."
              }
            }
          },
          "count": {
            "type": "integer",
            "minimum": 0,
            "description": "People in the segment right now; it is evaluated on every read."
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 timestamp, UTC."
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO 8601 timestamp, UTC."
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "filter",
          "count",
          "createdAt",
          "updatedAt"
        ]
      },
      "Company": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Brand or company name, as the classifier should call it."
          },
          "description": {
            "type": "string",
            "description": "What the company does, one paragraph."
          },
          "useCases": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "What people use the product for."
          },
          "accounts": {
            "type": "object",
            "properties": {
              "x": {
                "type": "string",
                "nullable": true,
                "description": "X handle without the @."
              },
              "linkedin": {
                "type": "string",
                "nullable": true,
                "description": "LinkedIn page slug or URL."
              }
            },
            "required": [
              "x",
              "linkedin"
            ],
            "description": "Your own accounts, so your own posts are recognized."
          },
          "website": {
            "type": "string",
            "nullable": true,
            "description": "The company website, as set up during onboarding."
          },
          "competitors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Competitors by name, so the classifier reads a rival's mention as such; usually the same names as your competitor keywords."
          },
          "guidelines": {
            "type": "string",
            "nullable": true,
            "description": "Free-text rules for the classifier: what counts as relevant for you and what never does (\"posts about our API, never job listings\"). The second biggest lever after the description."
          },
          "context": {
            "type": "string",
            "description": "The text the classifier reads. Composed from the fields above unless you override it."
          }
        },
        "required": [
          "name",
          "description",
          "useCases",
          "accounts",
          "website",
          "competitors",
          "guidelines",
          "context"
        ]
      },
      "Whoami": {
        "type": "object",
        "properties": {
          "workspace": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Workspace id (org_...)."
              },
              "name": {
                "type": "string",
                "description": "The workspace name, as the dashboard shows it."
              }
            },
            "required": [
              "id",
              "name"
            ],
            "description": "The workspace this credential acts on."
          },
          "auth": {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "api_key",
                  "oauth",
                  "session"
                ],
                "description": "How the request authenticated: an API key, an OAuth access token (MCP sign-in), or the dashboard session."
              },
              "scope": {
                "type": "string",
                "enum": [
                  "read",
                  "write"
                ],
                "description": "What the credential may do: read (GET only) or write."
              },
              "apiKeyId": {
                "type": "string",
                "nullable": true,
                "description": "The key id (key_...) when authenticated with an API key; null otherwise."
              },
              "expiresAt": {
                "type": "string",
                "nullable": true,
                "description": "When an API key stops working; null for a key that never expires, an OAuth token or a session."
              }
            },
            "required": [
              "kind",
              "scope",
              "apiKeyId",
              "expiresAt"
            ],
            "description": "The credential."
          },
          "user": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string",
                "description": "User id, what assigneeId and ownerId take."
              },
              "email": {
                "type": "string",
                "description": "The account's email address."
              },
              "name": {
                "type": "string",
                "nullable": true,
                "description": "The name on the account; null when they never set one."
              }
            },
            "required": [
              "id",
              "email",
              "name"
            ],
            "description": "The person behind an OAuth token or a session; null for an API key, which has no person behind it."
          }
        },
        "required": [
          "workspace",
          "auth",
          "user"
        ]
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Membership id (mem_...), what DELETE /v1/members/{id} takes."
          },
          "userId": {
            "type": "string",
            "description": "The person's user id, what assigneeId and ownerId take."
          },
          "email": {
            "type": "string",
            "description": "The account's email address."
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "The name on the account; null when they never set one."
          },
          "role": {
            "type": "string",
            "enum": [
              "owner",
              "admin",
              "member"
            ],
            "description": "owner: everything, billing included. admin: manages the team. member: works the feed."
          },
          "joinedAt": {
            "type": "string",
            "description": "When the membership was created."
          }
        },
        "required": [
          "id",
          "userId",
          "email",
          "name",
          "role",
          "joinedAt"
        ]
      },
      "Invitation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Invitation id (inv_...)."
          },
          "email": {
            "type": "string",
            "description": "The invited address, lowercased."
          },
          "role": {
            "type": "string",
            "enum": [
              "owner",
              "admin",
              "member"
            ],
            "description": "The role they join with."
          },
          "invitedBy": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "name": {
                "type": "string",
                "nullable": true
              }
            },
            "required": [
              "id",
              "email",
              "name"
            ],
            "description": "Who sent it; an API key invites on behalf of the oldest owner."
          },
          "expiresAt": {
            "type": "string",
            "description": "Invitations last 48 hours; an expired one is no longer listed."
          },
          "createdAt": {
            "type": "string",
            "description": "When the invitation was sent."
          }
        },
        "required": [
          "id",
          "email",
          "role",
          "invitedBy",
          "expiresAt",
          "createdAt"
        ]
      },
      "UsageSummary": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "object",
            "properties": {
              "cents": {
                "type": "integer",
                "description": "Ledger balance: every credit minus every settled debit."
              },
              "pendingCents": {
                "type": "integer",
                "description": "Mentions matched since the last daily settlement, priced but not yet debited."
              },
              "effectiveCents": {
                "type": "integer",
                "description": "cents minus pendingCents: what the stop rule and the keyword gate look at."
              },
              "currency": {
                "type": "string",
                "enum": [
                  "USD"
                ]
              }
            },
            "required": [
              "cents",
              "pendingCents",
              "effectiveCents",
              "currency"
            ],
            "description": "The prepaid wallet."
          },
          "burn": {
            "type": "object",
            "properties": {
              "perDayCents": {
                "type": "integer",
                "description": "Average daily debit over the last 7 days (or since the workspace was created)."
              },
              "daysLeft": {
                "type": "integer",
                "nullable": true,
                "minimum": 0,
                "description": "effectiveCents divided by perDayCents; null when nothing is burning."
              }
            },
            "required": [
              "perDayCents",
              "daysLeft"
            ],
            "description": "How fast the balance goes."
          },
          "keywords": {
            "type": "object",
            "properties": {
              "active": {
                "type": "integer",
                "minimum": 0,
                "description": "Unmuted keywords, the ones charged daily."
              },
              "paused": {
                "type": "integer",
                "minimum": 0,
                "description": "Keywords the wallet paused for lack of balance; a top-up resumes them."
              },
              "limit": {
                "type": "integer",
                "minimum": 0,
                "description": "How many keywords the workspace may run right now: the self-serve ceiling when the balance covers one more keyword-day, else 0."
              },
              "dayCents": {
                "type": "integer",
                "description": "What one more day of the active keywords costs."
              }
            },
            "required": [
              "active",
              "paused",
              "limit",
              "dayCents"
            ],
            "description": "Keywords against the wallet."
          },
          "mentions": {
            "type": "object",
            "properties": {
              "today": {
                "type": "integer",
                "minimum": 0,
                "description": "Matches recorded today (UTC), relevant or not: every one bills."
              },
              "last30d": {
                "type": "integer",
                "minimum": 0,
                "description": "Matches recorded in the last 30 days."
              }
            },
            "required": [
              "today",
              "last30d"
            ],
            "description": "Matched mentions, the other thing that bills."
          },
          "stopped": {
            "type": "boolean",
            "description": "The wallet paused tracking; a top-up that covers a day of every keyword resumes it."
          },
          "lowBalance": {
            "type": "boolean",
            "description": "Running, and the effective balance is at or under 20 percent of the last credit."
          },
          "lastTopUpAt": {
            "type": "string",
            "nullable": true,
            "description": "Newest paid top-up; null before the first."
          }
        },
        "required": [
          "balance",
          "burn",
          "keywords",
          "mentions",
          "stopped",
          "lowBalance",
          "lastTopUpAt"
        ]
      },
      "Alert": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Alert id (feed_...)."
          },
          "name": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "mode": {
            "type": "string",
            "enum": [
              "instant",
              "daily",
              "weekly"
            ],
            "description": "instant: each matching mention as it happens. daily: one digest at the scheduled local time. weekly: one digest a week, on schedule.weekday."
          },
          "filter": {
            "type": "object",
            "properties": {
              "keywordIds": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Only these keywords."
              },
              "platforms": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "bluesky",
                    "hackernews",
                    "github",
                    "stackoverflow",
                    "devto",
                    "reddit",
                    "x",
                    "youtube",
                    "news",
                    "linkedin"
                  ],
                  "description": "Platform: bluesky, hackernews, github, stackoverflow, devto, reddit, x, youtube, news, linkedin."
                },
                "description": "Only posts from these platforms."
              },
              "minRelevance": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100,
                "description": "Only mentions scored at least this; unclassified ones never pass."
              },
              "minConfidence": {
                "type": "number",
                "minimum": 0,
                "maximum": 1,
                "description": "Only mentions whose classifier confidence is at least this, 0 to 1. A mention without a confidence never passes."
              },
              "sentiments": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "positive",
                    "neutral",
                    "negative"
                  ],
                  "description": "Classifier sentiment."
                },
                "description": "Only these sentiments."
              },
              "intents": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "At least one of these intent or topic tags."
              },
              "excludeAuthors": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200
                },
                "maxItems": 200,
                "description": "Never these authors: display names, handles or profile URLs."
              },
              "minFollowers": {
                "type": "integer",
                "minimum": 0,
                "description": "Only authors with at least this many followers. Unknown reach never passes."
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "maxItems": 20,
                "description": "Only authors your workspace tagged with any of these."
              },
              "linkHosts": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200
                },
                "maxItems": 20,
                "description": "Only posts linking to any of these hosts, the host itself or a subdomain of it (octolens.com also matches blog.octolens.com). A post with no links never passes."
              },
              "languages": {
                "type": "array",
                "items": {
                  "type": "string",
                  "pattern": "^[a-z]{2}$"
                },
                "maxItems": 20,
                "description": "Only posts in any of these languages (ISO 639-1: en, es, de). A post whose language is unknown never passes."
              },
              "automated": {
                "type": "boolean",
                "description": "true: only posts that read as machine-made (bots, templated posts); false: only the rest. Omit for both."
              }
            }
          },
          "schedule": {
            "type": "object",
            "nullable": true,
            "properties": {
              "hour": {
                "type": "integer",
                "minimum": 0,
                "maximum": 23
              },
              "minute": {
                "type": "integer",
                "minimum": 0,
                "maximum": 59,
                "default": 0
              },
              "timezone": {
                "type": "string",
                "minLength": 1,
                "maxLength": 64
              },
              "skipEmpty": {
                "type": "boolean",
                "default": true
              },
              "weekday": {
                "type": "integer",
                "minimum": 0,
                "maximum": 6,
                "description": "Weekly rules: the day it sends, 0 Sunday to 6 Saturday. Required for mode weekly; ignored on daily rules."
              }
            },
            "required": [
              "hour",
              "timezone"
            ],
            "description": "Daily and weekly alerts only."
          },
          "event": {
            "type": "string",
            "description": "Event name carried in webhook payloads; the mode default unless you set one."
          },
          "channels": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "kind": {
                  "type": "string",
                  "enum": [
                    "slack",
                    "email",
                    "webhook",
                    "telegram"
                  ]
                },
                "label": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "kind",
                "label"
              ]
            },
            "description": "Where it sends."
          },
          "stats": {
            "type": "object",
            "properties": {
              "sentLast7d": {
                "type": "integer",
                "minimum": 0,
                "description": "Deliveries in the last 7 days, across channels."
              },
              "lastSentAt": {
                "type": "string",
                "nullable": true,
                "description": "ISO 8601 timestamp, UTC."
              },
              "nextRunAt": {
                "type": "string",
                "nullable": true,
                "description": "Daily and weekly alerts: the next digest; null when disabled or instant."
              }
            },
            "required": [
              "sentLast7d",
              "lastSentAt",
              "nextRunAt"
            ],
            "description": "Computed over this workspace's deliveries."
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 timestamp, UTC."
          }
        },
        "required": [
          "id",
          "name",
          "enabled",
          "mode",
          "filter",
          "schedule",
          "event",
          "channels",
          "stats",
          "createdAt"
        ]
      },
      "AnalyticsSummary": {
        "type": "object",
        "properties": {
          "window": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                "description": "First day, inclusive."
              },
              "to": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                "description": "Last day, inclusive."
              },
              "days": {
                "type": "integer",
                "minimum": 0,
                "description": "Length of the window in days."
              },
              "timezone": {
                "type": "string",
                "description": "IANA zone the days were cut in."
              }
            },
            "required": [
              "from",
              "to",
              "days",
              "timezone"
            ],
            "description": "The window the report covers."
          },
          "matched": {
            "type": "integer",
            "minimum": 0,
            "description": "Every match in the window, relevant or not: the number usage counts."
          },
          "relevant": {
            "type": "integer",
            "minimum": 0,
            "description": "Matches scored at or above the relevance threshold."
          },
          "posts": {
            "type": "integer",
            "minimum": 0,
            "description": "Distinct posts behind the matches: a post matching two keywords is two matches, one post."
          },
          "people": {
            "type": "integer",
            "minimum": 0,
            "description": "Distinct authors behind the matches."
          },
          "sentiment": {
            "type": "object",
            "properties": {
              "positive": {
                "type": "integer",
                "minimum": 0,
                "description": "Classified positive."
              },
              "neutral": {
                "type": "integer",
                "minimum": 0,
                "description": "Classified neutral."
              },
              "negative": {
                "type": "integer",
                "minimum": 0,
                "description": "Classified negative."
              },
              "unclassified": {
                "type": "integer",
                "minimum": 0,
                "description": "Not scored: still queued, or the classifier failed on it."
              }
            },
            "required": [
              "positive",
              "neutral",
              "negative",
              "unclassified"
            ],
            "description": "Matched mentions by classifier sentiment."
          },
          "buyIntent": {
            "type": "integer",
            "minimum": 0,
            "description": "Matches carrying the buy_intent intent."
          },
          "questions": {
            "type": "integer",
            "minimum": 0,
            "description": "Matches carrying the question intent."
          },
          "reach": {
            "type": "object",
            "properties": {
              "followers": {
                "type": "integer",
                "minimum": 0,
                "description": "Followers summed over the distinct authors whose count is known: an estimate of the feeds the posts landed in."
              },
              "people": {
                "type": "integer",
                "minimum": 0,
                "description": "How many of `people` have a known follower count."
              }
            },
            "required": [
              "followers",
              "people"
            ],
            "description": "Estimated reach."
          },
          "triage": {
            "type": "object",
            "properties": {
              "open": {
                "type": "integer",
                "minimum": 0,
                "description": "Status open."
              },
              "ignored": {
                "type": "integer",
                "minimum": 0,
                "description": "Status ignored."
              },
              "done": {
                "type": "integer",
                "minimum": 0,
                "description": "Status done."
              },
              "waiting": {
                "type": "integer",
                "minimum": 0,
                "description": "Relevant, still open, and matched more than 24 hours ago."
              },
              "handledRate": {
                "type": "number",
                "nullable": true,
                "description": "done divided by relevant, 0 to 1; null when nothing was relevant."
              },
              "medianTimeToDoneMs": {
                "type": "number",
                "nullable": true,
                "description": "Median milliseconds from match to done; null when nothing was done."
              }
            },
            "required": [
              "open",
              "ignored",
              "done",
              "waiting",
              "handledRate",
              "medianTimeToDoneMs"
            ],
            "description": "Where the matches stand in your inbox."
          },
          "previous": {
            "type": "object",
            "nullable": true,
            "properties": {
              "matched": {
                "type": "integer",
                "minimum": 0,
                "description": "Every match in the window, relevant or not: the number usage counts."
              },
              "relevant": {
                "type": "integer",
                "minimum": 0,
                "description": "Matches scored at or above the relevance threshold."
              },
              "posts": {
                "type": "integer",
                "minimum": 0,
                "description": "Distinct posts behind the matches: a post matching two keywords is two matches, one post."
              },
              "people": {
                "type": "integer",
                "minimum": 0,
                "description": "Distinct authors behind the matches."
              },
              "sentiment": {
                "type": "object",
                "properties": {
                  "positive": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Classified positive."
                  },
                  "neutral": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Classified neutral."
                  },
                  "negative": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Classified negative."
                  },
                  "unclassified": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Not scored: still queued, or the classifier failed on it."
                  }
                },
                "required": [
                  "positive",
                  "neutral",
                  "negative",
                  "unclassified"
                ],
                "description": "Matched mentions by classifier sentiment."
              },
              "buyIntent": {
                "type": "integer",
                "minimum": 0,
                "description": "Matches carrying the buy_intent intent."
              },
              "questions": {
                "type": "integer",
                "minimum": 0,
                "description": "Matches carrying the question intent."
              },
              "reach": {
                "type": "object",
                "properties": {
                  "followers": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Followers summed over the distinct authors whose count is known: an estimate of the feeds the posts landed in."
                  },
                  "people": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "How many of `people` have a known follower count."
                  }
                },
                "required": [
                  "followers",
                  "people"
                ],
                "description": "Estimated reach."
              },
              "triage": {
                "type": "object",
                "properties": {
                  "open": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Status open."
                  },
                  "ignored": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Status ignored."
                  },
                  "done": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Status done."
                  },
                  "waiting": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Relevant, still open, and matched more than 24 hours ago."
                  },
                  "handledRate": {
                    "type": "number",
                    "nullable": true,
                    "description": "done divided by relevant, 0 to 1; null when nothing was relevant."
                  },
                  "medianTimeToDoneMs": {
                    "type": "number",
                    "nullable": true,
                    "description": "Median milliseconds from match to done; null when nothing was done."
                  }
                },
                "required": [
                  "open",
                  "ignored",
                  "done",
                  "waiting",
                  "handledRate",
                  "medianTimeToDoneMs"
                ],
                "description": "Where the matches stand in your inbox."
              }
            },
            "required": [
              "matched",
              "relevant",
              "posts",
              "people",
              "sentiment",
              "buyIntent",
              "questions",
              "reach",
              "triage"
            ],
            "description": "The same counts over the period of the same length right before the window; null unless compare=true."
          }
        },
        "required": [
          "window",
          "matched",
          "relevant",
          "posts",
          "people",
          "sentiment",
          "buyIntent",
          "questions",
          "reach",
          "triage",
          "previous"
        ]
      },
      "AnalyticsSeries": {
        "type": "object",
        "properties": {
          "window": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                "description": "First day, inclusive."
              },
              "to": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                "description": "Last day, inclusive."
              },
              "days": {
                "type": "integer",
                "minimum": 0,
                "description": "Length of the window in days."
              },
              "timezone": {
                "type": "string",
                "description": "IANA zone the days were cut in."
              },
              "bucket": {
                "type": "string",
                "enum": [
                  "hour",
                  "day",
                  "week",
                  "month"
                ],
                "description": "Point granularity used: hour, day, week (Monday to Sunday) or month."
              }
            },
            "required": [
              "from",
              "to",
              "days",
              "timezone",
              "bucket"
            ],
            "description": "The window the report covers."
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "Platform name, keyword id, sentiment (positive, neutral, negative, unclassified), \"total\" for the unsplit series, or \"other\" for the keys beyond the top 20."
                },
                "label": {
                  "type": "string",
                  "description": "Readable name: the platform, the keyword term, the sentiment, \"Total\" or \"Other\"."
                },
                "keyword": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Keyword id (kw_...)."
                    },
                    "term": {
                      "type": "string",
                      "description": "The tracked term."
                    },
                    "kind": {
                      "type": "string",
                      "enum": [
                        "brand",
                        "competitor",
                        "topic"
                      ],
                      "description": "brand, competitor or topic."
                    }
                  },
                  "required": [
                    "id",
                    "term",
                    "kind"
                  ],
                  "description": "Set when split by keyword; null otherwise."
                },
                "points": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "description": "The bucket start in `timezone`: the day (YYYY-MM-DD), the Monday of the week, the first of the month, or the hour as YYYY-MM-DDTHH:00."
                      },
                      "matched": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Every match published in the bucket."
                      },
                      "relevant": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Of those, scored at or above the relevance threshold."
                      },
                      "positive": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Classified positive."
                      },
                      "neutral": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Classified neutral."
                      },
                      "negative": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Classified negative."
                      },
                      "unclassified": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Not scored: still queued, or the classifier failed on it."
                      }
                    },
                    "required": [
                      "date",
                      "matched",
                      "relevant",
                      "positive",
                      "neutral",
                      "negative",
                      "unclassified"
                    ]
                  },
                  "description": "One point per bucket across the window, oldest first, zero-filled."
                }
              },
              "required": [
                "key",
                "label",
                "keyword",
                "points"
              ]
            },
            "description": "One item per series, most matched first; a single \"total\" item when not split."
          },
          "previous": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "Platform name, keyword id, sentiment (positive, neutral, negative, unclassified), \"total\" for the unsplit series, or \"other\" for the keys beyond the top 20."
                },
                "label": {
                  "type": "string",
                  "description": "Readable name: the platform, the keyword term, the sentiment, \"Total\" or \"Other\"."
                },
                "keyword": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Keyword id (kw_...)."
                    },
                    "term": {
                      "type": "string",
                      "description": "The tracked term."
                    },
                    "kind": {
                      "type": "string",
                      "enum": [
                        "brand",
                        "competitor",
                        "topic"
                      ],
                      "description": "brand, competitor or topic."
                    }
                  },
                  "required": [
                    "id",
                    "term",
                    "kind"
                  ],
                  "description": "Set when split by keyword; null otherwise."
                },
                "points": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "description": "The bucket start in `timezone`: the day (YYYY-MM-DD), the Monday of the week, the first of the month, or the hour as YYYY-MM-DDTHH:00."
                      },
                      "matched": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Every match published in the bucket."
                      },
                      "relevant": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Of those, scored at or above the relevance threshold."
                      },
                      "positive": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Classified positive."
                      },
                      "neutral": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Classified neutral."
                      },
                      "negative": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Classified negative."
                      },
                      "unclassified": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Not scored: still queued, or the classifier failed on it."
                      }
                    },
                    "required": [
                      "date",
                      "matched",
                      "relevant",
                      "positive",
                      "neutral",
                      "negative",
                      "unclassified"
                    ]
                  },
                  "description": "One point per bucket across the window, oldest first, zero-filled."
                }
              },
              "required": [
                "key",
                "label",
                "keyword",
                "points"
              ]
            },
            "description": "The same items over the period right before the window, in the same order, points aligned by index with `data` (the last bucket may be missing when weeks split differently); null unless compare=true."
          }
        },
        "required": [
          "window",
          "data",
          "previous"
        ]
      },
      "AnalyticsBreakdown": {
        "type": "object",
        "properties": {
          "window": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                "description": "First day, inclusive."
              },
              "to": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                "description": "Last day, inclusive."
              },
              "days": {
                "type": "integer",
                "minimum": 0,
                "description": "Length of the window in days."
              },
              "timezone": {
                "type": "string",
                "description": "IANA zone the days were cut in."
              }
            },
            "required": [
              "from",
              "to",
              "days",
              "timezone"
            ],
            "description": "The window the report covers."
          },
          "by": {
            "type": "string",
            "enum": [
              "platform",
              "keyword",
              "sentiment",
              "intent",
              "status",
              "hour",
              "person",
              "language"
            ],
            "description": "The dimension the rows are grouped by."
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "The group: platform name, keyword id, sentiment, intent, status, \"weekday-hour\" for by=hour, or an opaque person key."
                },
                "label": {
                  "type": "string",
                  "description": "Readable name: the keyword term, the person name, otherwise the key."
                },
                "keyword": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Keyword id (kw_...)."
                    },
                    "term": {
                      "type": "string",
                      "description": "The tracked term."
                    },
                    "kind": {
                      "type": "string",
                      "enum": [
                        "brand",
                        "competitor",
                        "topic"
                      ],
                      "description": "brand, competitor or topic."
                    }
                  },
                  "required": [
                    "id",
                    "term",
                    "kind"
                  ],
                  "description": "by=keyword only; null otherwise."
                },
                "person": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "id": {
                      "type": "string",
                      "nullable": true,
                      "description": "Person id (aut_...); null for posts ingested before people were linked."
                    },
                    "name": {
                      "type": "string",
                      "nullable": true,
                      "description": "Display name as the platform shows it."
                    },
                    "platform": {
                      "type": "string",
                      "enum": [
                        "bluesky",
                        "hackernews",
                        "github",
                        "stackoverflow",
                        "devto",
                        "reddit",
                        "x",
                        "youtube",
                        "news",
                        "linkedin"
                      ],
                      "description": "Platform: bluesky, hackernews, github, stackoverflow, devto, reddit, x, youtube, news, linkedin."
                    },
                    "url": {
                      "type": "string",
                      "nullable": true,
                      "description": "Profile URL."
                    },
                    "avatarUrl": {
                      "type": "string",
                      "nullable": true,
                      "description": "Avatar image URL, when the platform gave one."
                    },
                    "followers": {
                      "type": "integer",
                      "nullable": true,
                      "minimum": 0,
                      "description": "From the audience profile; null when unknown."
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "platform",
                    "url",
                    "avatarUrl",
                    "followers"
                  ],
                  "description": "by=person only; null otherwise."
                },
                "slot": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "weekday": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 6,
                      "description": "0 = Sunday through 6 = Saturday."
                    },
                    "hour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "Hour of day, 0 to 23."
                    }
                  },
                  "required": [
                    "weekday",
                    "hour"
                  ],
                  "description": "by=hour only: the weekday and hour of day in `timezone`; null otherwise."
                },
                "matched": {
                  "type": "integer",
                  "minimum": 0,
                  "description": "Matches in the group."
                },
                "relevant": {
                  "type": "integer",
                  "minimum": 0,
                  "description": "Of those, scored at or above the relevance threshold."
                },
                "share": {
                  "type": "number",
                  "description": "Percent of the window's matched mentions in this group, one decimal. Intents overlap, so their shares can add up past 100."
                },
                "sentiment": {
                  "type": "object",
                  "properties": {
                    "positive": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Classified positive."
                    },
                    "neutral": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Classified neutral."
                    },
                    "negative": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Classified negative."
                    },
                    "unclassified": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Not scored: still queued, or the classifier failed on it."
                    }
                  },
                  "required": [
                    "positive",
                    "neutral",
                    "negative",
                    "unclassified"
                  ],
                  "description": "Matched mentions by classifier sentiment."
                },
                "previous": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "matched": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Matches in the group then."
                    },
                    "relevant": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Relevant matches in the group then."
                    }
                  },
                  "required": [
                    "matched",
                    "relevant"
                  ],
                  "description": "The same group over the period right before the window; null unless compare=true."
                }
              },
              "required": [
                "key",
                "label",
                "keyword",
                "person",
                "slot",
                "matched",
                "relevant",
                "share",
                "sentiment",
                "previous"
              ]
            },
            "description": "Most matched first, at most 50 groups. by=hour is chronological and unlimited (168 cells at most)."
          }
        },
        "required": [
          "window",
          "by",
          "data"
        ]
      },
      "ShareOfVoice": {
        "type": "object",
        "properties": {
          "window": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                "description": "First day, inclusive."
              },
              "to": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                "description": "Last day, inclusive."
              },
              "days": {
                "type": "integer",
                "minimum": 0,
                "description": "Length of the window in days."
              },
              "timezone": {
                "type": "string",
                "description": "IANA zone the days were cut in."
              }
            },
            "required": [
              "from",
              "to",
              "days",
              "timezone"
            ],
            "description": "The window the report covers."
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "keyword": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Keyword id (kw_...)."
                    },
                    "term": {
                      "type": "string",
                      "description": "The tracked term."
                    },
                    "kind": {
                      "type": "string",
                      "enum": [
                        "brand",
                        "competitor",
                        "topic"
                      ],
                      "description": "brand, competitor or topic."
                    }
                  },
                  "required": [
                    "id",
                    "term",
                    "kind"
                  ],
                  "description": "The keyword this row is about."
                },
                "matched": {
                  "type": "integer",
                  "minimum": 0,
                  "description": "Matches of this keyword in the window."
                },
                "relevant": {
                  "type": "integer",
                  "minimum": 0,
[...]
