{
  "openapi": "3.0.0",
  "info": {
    "title": "Mentio API",
    "version": "0.0.1",
    "description": "Keyword and brand mention tracking across dev platforms."
  },
  "servers": [
    {
      "url": "https://api.mentio.dev"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key minted via POST /v1/api-keys (format mk_live_...)"
      }
    },
    "schemas": {
      "Keyword": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Keyword id (kw_...)."
          },
          "term": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "brand",
              "competitor",
              "topic"
            ]
          },
          "muted": {
            "type": "boolean",
            "description": "Not polled or matched. Either paused by you or by the wallet (see pausedForBalance)."
          },
          "pausedForBalance": {
            "type": "boolean",
            "description": "Muted by the wallet for lack of balance; a top-up resumes it, unmuting by hand needs balance too."
          },
          "platforms": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string",
              "enum": [
                "bluesky",
                "hackernews",
                "github",
                "stackoverflow",
                "devto",
                "reddit",
                "x",
                "youtube",
                "news",
                "linkedin"
              ]
            },
            "minItems": 1,
            "description": "Platforms this keyword is tracked on; null means every platform."
          },
          "stats": {
            "type": "object",
            "properties": {
              "mentions": {
                "type": "integer",
                "minimum": 0,
                "description": "Every match ever, relevant or not: the number billing counts."
              },
              "relevant": {
                "type": "integer",
                "minimum": 0,
                "description": "Matches scored at or above the relevance threshold."
              },
              "last7d": {
                "type": "integer",
                "minimum": 0,
                "description": "Matches published in the last 7 days."
              },
              "lastMentionAt": {
                "type": "string",
                "nullable": true,
                "description": "Newest matched post; null until the first one."
              }
            },
            "required": [
              "mentions",
              "relevant",
              "last7d",
              "lastMentionAt"
            ],
            "description": "Computed over this workspace's matches."
          },
          "polling": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "platform": {
                  "type": "string",
                  "enum": [
                    "bluesky",
                    "hackernews",
                    "github",
                    "stackoverflow",
                    "devto",
                    "reddit",
                    "x",
                    "youtube",
                    "news",
                    "linkedin"
                  ],
                  "description": "Platform: bluesky, hackernews, github, stackoverflow, devto, reddit, x, youtube, news, linkedin."
                },
                "lastPolledAt": {
                  "type": "string",
                  "nullable": true,
                  "description": "Newest poll of this platform for the term; null until the first one."
                },
                "emptyPolls": {
                  "type": "integer",
                  "description": "Consecutive polls that found nothing new; the scheduler slows down as it grows."
                }
              },
              "required": [
                "platform",
                "lastPolledAt",
                "emptyPolls"
              ]
            },
            "description": "Poll health per platform polled on a schedule. Live feeds (Bluesky) have no entry."
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 timestamp, UTC."
          }
        },
        "required": [
          "id",
          "term",
          "kind",
          "muted",
          "pausedForBalance",
          "platforms",
          "stats",
          "polling",
          "createdAt"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "unauthorized",
                  "forbidden",
                  "read_only_key",
                  "validation_error",
                  "not_found",
                  "invalid_cursor",
                  "payload_too_large",
                  "rate_limited",
                  "duplicate_keyword",
                  "insufficient_balance",
                  "keyword_limit_reached",
                  "billing_not_configured",
                  "order_not_credited",
                  "schedule_required",
                  "unknown_channel",
                  "not_a_digest",
                  "slack_not_connected",
                  "slack_not_configured",
                  "telegram_not_configured",
                  "email_not_configured",
                  "invalid_assignee",
                  "invalid_member",
                  "duplicate_segment",
                  "invalid_signature",
                  "webhook_not_configured",
                  "invalid_token",
                  "protected_user",
                  "upstream_unavailable",
                  "internal_error"
                ],
                "description": "Stable machine-readable code; branch on this, never on the message. Codes are additive: a client should treat one it does not know as a generic failure of the same status."
              },
              "message": {
                "type": "string",
                "description": "Human-readable detail; may change between releases."
              },
              "requestId": {
                "type": "string",
                "description": "The id of this request (also the X-Request-Id response header); quote it to support."
              },
              "retryAfterSeconds": {
                "type": "integer",
                "description": "For rate_limited and other retryable errors: how long to wait before retrying (mirrors the Retry-After header)."
              }
            },
            "required": [
              "code",
              "message"
            ],
            "description": "The error."
          }
        },
        "required": [
          "error"
        ]
      },
      "Mention": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Mention id (mm_...): one post matched to one of your keywords. A post matching two keywords has two ids."
          },
          "status": {
            "type": "string",
            "enum": [
              "open",
              "ignored",
              "done"
            ],
            "description": "open: nobody handled it yet. ignored: hidden from the feed and channels by you. done: handled."
          },
          "relevant": {
            "type": "boolean",
            "description": "The classifier scored it at or above the delivery threshold (40)."
          },
          "delivered": {
            "type": "boolean",
            "description": "Reached at least one of your channels."
          },
          "priority": {
            "type": "number",
            "description": "Attention score, one decimal, computed at read time: relevance halved, author reach on a follower ladder (unknown reach counts 8), the strongest intent (buy intent 20 down to praise 5), minus 2 per day of age floored at 20."
          },
          "keyword": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "term": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "term"
            ],
            "description": "The keyword this post matched."
          },
          "post": {
            "type": "object",
            "properties": {
              "platform": {
                "type": "string",
                "enum": [
                  "bluesky",
                  "hackernews",
                  "github",
                  "stackoverflow",
                  "devto",
                  "reddit",
                  "x",
                  "youtube",
                  "news",
                  "linkedin"
                ],
                "description": "Platform: bluesky, hackernews, github, stackoverflow, devto, reddit, x, youtube, news, linkedin."
              },
              "url": {
                "type": "string",
                "description": "Permalink of the post."
              },
              "text": {
                "type": "string",
                "description": "Title and body, truncated to 8 KB at ingest."
              },
              "links": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Links the post carries, in the order written, at most 20. Empty for a post with none, and for posts ingested before September 2026."
              },
              "publishedAt": {
                "type": "string",
                "description": "When the post was published."
              },
              "replyTo": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "author": {
                    "type": "string",
                    "nullable": true,
                    "description": "Parent post author as the platform names them."
                  },
                  "url": {
                    "type": "string",
                    "nullable": true,
                    "description": "Parent post URL."
                  },
                  "text": {
                    "type": "string",
                    "nullable": true,
                    "description": "Parent post text, when the platform gave it."
                  }
                },
                "required": [
                  "author",
                  "url",
                  "text"
                ],
                "description": "The post this one replies to (X, Bluesky); null for top-level posts."
              }
            },
            "required": [
              "platform",
              "url",
              "text",
              "links",
              "publishedAt",
              "replyTo"
            ]
          },
          "author": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string",
                "nullable": true,
                "description": "Person id (aut_...) for GET /v1/people/{id}; null when the account is not in the audience yet."
              },
              "name": {
                "type": "string",
                "nullable": true,
                "description": "Display name as the platform reports it."
              },
              "handle": {
                "type": "string",
                "nullable": true,
                "description": "Platform handle derived from the profile URL, formatted as the platform shows it (@name, u/name); null where the platform has none."
              },
              "url": {
                "type": "string",
                "nullable": true,
                "description": "Profile URL."
              },
              "avatarUrl": {
                "type": "string",
                "nullable": true,
                "description": "Profile picture; null where the platform has none."
              },
              "followers": {
                "type": "integer",
                "nullable": true,
                "description": "Follower count as of their newest post; null where the platform has none."
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Your workspace tags on this person."
              }
            },
            "required": [
              "id",
              "name",
              "handle",
              "url",
              "avatarUrl",
              "followers",
              "tags"
            ],
            "description": "Who posted it; null when the platform gave no author at all."
          },
          "classification": {
            "type": "object",
            "nullable": true,
            "properties": {
              "relevance": {
                "type": "integer",
                "nullable": true,
                "minimum": 0,
                "maximum": 100,
                "description": "0 to 100; null only when classification failed."
              },
              "sentiment": {
                "type": "string",
                "nullable": true,
                "enum": [
                  "positive",
                  "neutral",
                  "negative"
                ],
                "description": "Classifier sentiment."
              },
              "intents": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Detected intents: buy_intent, question, complaint, praise, comparison."
              },
              "note": {
                "type": "string",
                "nullable": true,
                "description": "One sentence from the classifier explaining the score."
              },
              "failed": {
                "type": "boolean",
                "description": "true when the model could not score this post; it stays in the feed and is not billed."
              }
            },
            "required": [
              "relevance",
              "sentiment",
              "intents",
              "note",
              "failed"
            ],
            "description": "The classifier verdict; null while the post is still queued for classification."
          },
          "triage": {
            "type": "object",
            "properties": {
              "assignee": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string",
                    "nullable": true
                  },
                  "email": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "required": [
                  "id",
                  "name",
                  "email"
                ],
                "description": "Workspace member this mention is assigned to; null when unassigned."
              },
              "snoozedUntil": {
                "type": "string",
                "nullable": true,
                "description": "Until when the mention stays out of the feed; null when not snoozed."
              },
              "note": {
                "type": "string",
                "nullable": true,
                "description": "Internal note; null when none."
              }
            },
            "required": [
              "assignee",
              "snoozedUntil",
              "note"
            ]
          },
          "createdAt": {
            "type": "string",
            "description": "When the match was recorded; the default feed order."
          }
        },
        "required": [
          "id",
          "status",
          "relevant",
          "delivered",
          "priority",
          "keyword",
          "post",
          "author",
          "classification",
          "triage",
          "createdAt"
        ]
      },
      "Person": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Person id (aut_...): the canonical account. An account merged into someone resolves to that person."
          },
          "platform": {
            "type": "string",
            "enum": [
              "bluesky",
              "hackernews",
              "github",
              "stackoverflow",
              "devto",
              "reddit",
              "x",
              "youtube",
              "news",
              "linkedin"
            ],
            "description": "Platform of the canonical account; `accounts` lists every account."
          },
          "name": {
            "type": "string",
            "nullable": true,
            "description": "Display name as of their newest post; null when the platform has none."
          },
          "handle": {
            "type": "string",
            "nullable": true,
            "description": "Platform handle of the canonical account, formatted as the platform shows it."
          },
          "url": {
            "type": "string",
            "nullable": true,
            "description": "Profile URL of the canonical account."
          },
          "avatarUrl": {
            "type": "string",
            "nullable": true
          },
          "accounts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "The account id (aut_...); the canonical one equals the person id."
                },
                "platform": {
                  "type": "string",
                  "enum": [
                    "bluesky",
                    "hackernews",
                    "github",
                    "stackoverflow",
                    "devto",
                    "reddit",
                    "x",
                    "youtube",
                    "news",
                    "linkedin"
                  ],
                  "description": "Platform: bluesky, hackernews, github, stackoverflow, devto, reddit, x, youtube, news, linkedin."
                },
                "name": {
                  "type": "string",
                  "nullable": true,
                  "description": "Display name as the platform reports it."
                },
                "handle": {
                  "type": "string",
                  "nullable": true,
                  "description": "Platform handle derived from the profile URL, formatted as the platform shows it."
                },
                "url": {
                  "type": "string",
                  "nullable": true,
                  "description": "Profile URL."
                }
              },
              "required": [
                "id",
                "platform",
                "name",
                "handle",
                "url"
              ]
            },
            "description": "Every account this workspace treats as this person, the canonical one first."
          },
          "reach": {
            "type": "object",
            "properties": {
              "followers": {
                "type": "integer",
                "nullable": true
              },
              "following": {
                "type": "integer",
                "nullable": true
              },
              "posts": {
                "type": "integer",
                "nullable": true
              }
            },
            "required": [
              "followers",
              "following",
              "posts"
            ],
            "description": "Platform counts as of their newest post; null where the platform has no such number."
          },
          "profile": {
            "type": "object",
            "nullable": true,
            "properties": {
              "bio": {
                "type": "string",
                "nullable": true
              },
              "company": {
                "type": "string",
                "nullable": true
              },
              "location": {
                "type": "string",
                "nullable": true
              },
              "website": {
                "type": "string",
                "nullable": true
              },
              "email": {
                "type": "string",
                "nullable": true,
                "description": "Only when the person made it public on the platform."
              },
              "links": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "provider": {
                      "type": "string",
                      "minLength": 1
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "required": [
                    "provider",
                    "url"
                  ]
                },
                "description": "Other accounts the person lists on their profile."
              },
              "fetchedAt": {
                "type": "string",
                "description": "When the profile was read."
              }
            },
            "required": [
              "bio",
              "company",
              "location",
              "website",
              "email",
              "links",
              "fetchedAt"
            ],
            "description": "Public profile facts; null until looked up."
          },
          "stats": {
            "type": "object",
            "properties": {
              "mentions": {
                "type": "integer",
                "minimum": 0,
                "description": "Every match of theirs for this workspace, relevant or not."
              },
              "relevant": {
                "type": "integer",
                "minimum": 0,
                "description": "Of those, scored relevant."
              },
              "sentiment": {
                "type": "object",
                "properties": {
                  "positive": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "neutral": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "negative": {
                    "type": "integer",
                    "minimum": 0
                  }
                },
                "required": [
                  "positive",
                  "neutral",
                  "negative"
                ]
              },
              "firstSeenAt": {
                "type": "string",
                "description": "Their oldest matched post."
              },
              "lastSeenAt": {
                "type": "string",
                "description": "Their newest matched post."
              }
            },
            "required": [
              "mentions",
              "relevant",
              "sentiment",
              "firstSeenAt",
              "lastSeenAt"
            ],
            "description": "Computed over this workspace's matches."
          },
          "annotations": {
            "type": "object",
            "properties": {
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "notes": {
                "type": "string"
              },
              "muted": {
                "type": "boolean",
                "description": "Their posts stay out of the feed and every channel; ingest and billing are untouched."
              }
            },
            "required": [
              "tags",
              "notes",
              "muted"
            ],
            "description": "What this workspace wrote about the person."
          },
          "outreach": {
            "type": "object",
            "properties": {
              "owner": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "User id of the workspace member."
                  },
                  "name": {
                    "type": "string",
                    "nullable": true
                  },
                  "email": {
                    "type": "string",
                    "nullable": true
                  }
                },
                "required": [
                  "id",
                  "name",
                  "email"
                ],
                "description": "The teammate who owns the contact; null when nobody does, or the owner left the workspace."
              },
              "stage": {
                "type": "string",
                "enum": [
                  "not_contacted",
                  "contacted",
                  "replied",
                  "in_talks",
                  "customer",
                  "not_a_fit"
                ],
                "description": "Where your workspace stands with the person: not_contacted, contacted, replied, in_talks, customer or not_a_fit."
              },
              "lastContactedAt": {
                "type": "string",
                "nullable": true,
                "description": "The newest logged activity; null when nobody logged a contact."
              }
            },
            "required": [
              "owner",
              "stage",
              "lastContactedAt"
            ],
            "description": "Where your workspace stands with the person. The first logged activity claims an unowned person for whoever reached out and moves not_contacted to contacted."
          }
        },
        "required": [
          "id",
          "platform",
          "name",
          "handle",
          "url",
          "avatarUrl",
          "accounts",
          "reach",
          "profile",
          "stats",
          "annotations",
          "outreach"
        ]
      },
      "PersonActivity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Activity id (act_...)."
          },
          "personId": {
            "type": "string",
            "description": "The person it belongs to (aut_...)."
          },
          "channel": {
            "type": "string",
            "enum": [
              "email",
              "x",
              "linkedin",
              "bluesky",
              "reddit",
              "github",
              "call",
              "meeting",
              "other"
            ],
            "description": "How they were reached: email, x, linkedin, bluesky, reddit, github, call, meeting or other."
          },
          "note": {
            "type": "string",
            "description": "What was sent or said, briefly; empty when nothing was written."
          },
          "member": {
            "type": "object",
            "nullable": true,
            "properties": {
              "id": {
                "type": "string",
                "description": "User id of the workspace member."
              },
              "name": {
                "type": "string",
                "nullable": true
              },
              "email": {
                "type": "string",
                "nullable": true
              }
            },
            "required": [
              "id",
              "name",
              "email"
            ],
            "description": "Who reached out; null when an API key logged it without naming a member, or that member left the workspace."
          },
          "occurredAt": {
            "type": "string",
            "description": "When the contact happened."
          },
          "createdAt": {
            "type": "string",
            "description": "When it was logged."
          }
        },
        "required": [
          "id",
          "personId",
          "channel",
          "note",
          "member",
          "occurredAt",
          "createdAt"
        ]
      },
      "Segment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Segment id (seg_...)."
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "filter": {
            "type": "object",
            "properties": {
              "platforms": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "bluesky",
                    "hackernews",
                    "github",
                    "stackoverflow",
                    "devto",
                    "reddit",
                    "x",
                    "youtube",
                    "news",
                    "linkedin"
                  ],
                  "description": "Platform: bluesky, hackernews, github, stackoverflow, devto, reddit, x, youtube, news, linkedin."
                },
                "maxItems": 20,
                "description": "People with an account on any of these platforms."
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "maxItems": 20,
                "description": "People carrying any of these tags."
              },
              "minFollowers": {
                "type": "integer",
                "minimum": 0,
                "description": "At least this many followers. Unknown reach never matches."
              },
              "maxFollowers": {
                "type": "integer",
                "minimum": 0,
                "description": "At most this many followers. Unknown reach never matches."
              },
              "minMentions": {
                "type": "integer",
                "minimum": 1,
                "description": "At least this many matched mentions."
              },
              "minNegative": {
                "type": "integer",
                "minimum": 1,
                "description": "At least this many negative mentions."
              },
              "intents": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "maxItems": 10,
                "description": "At least one mention carrying any of these intents."
              },
              "keywordKinds": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "brand",
                    "competitor",
                    "topic"
                  ]
                },
                "maxItems": 3,
                "description": "Mentioned a keyword of any of these kinds."
              },
              "neverKeywordKinds": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "brand",
                    "competitor",
                    "topic"
                  ]
                },
                "maxItems": 3,
                "description": "Never mentioned a keyword of these kinds."
              },
              "notPlatforms": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "bluesky",
                    "hackernews",
                    "github",
                    "stackoverflow",
                    "devto",
                    "reddit",
                    "x",
                    "youtube",
                    "news",
                    "linkedin"
                  ],
                  "description": "Platform: bluesky, hackernews, github, stackoverflow, devto, reddit, x, youtube, news, linkedin."
                },
                "maxItems": 20,
                "description": "Nobody with an account on these platforms."
              },
              "notTags": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "maxItems": 20,
                "description": "Nobody carrying any of these tags."
              },
              "notIntents": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "maxItems": 10,
                "description": "Nobody whose mentions carry any of these intents."
              },
              "newSinceDays": {
                "type": "integer",
                "minimum": 1,
                "maximum": 365,
                "description": "First seen within this many days."
              },
              "linkHosts": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200
                },
                "maxItems": 20,
                "description": "At least one mention linking to any of these hosts, the host itself or a subdomain of it."
              },
              "muted": {
                "type": "boolean",
                "description": "true: only muted people; false: only unmuted."
              },
              "stages": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "not_contacted",
                    "contacted",
                    "replied",
                    "in_talks",
                    "customer",
                    "not_a_fit"
                  ],
                  "description": "Where your workspace stands with the person: not_contacted, contacted, replied, in_talks, customer or not_a_fit."
                },
                "maxItems": 6,
                "description": "People at any of these outreach stages."
              },
              "ownerIds": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200
                },
                "maxItems": 20,
                "description": "People owned by any of these members (user ids); \"none\" matches people nobody owns."
              }
            }
          },
          "count": {
            "type": "integer",
            "minimum": 0,
            "description": "People in the segment right now; it is evaluated on every read."
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 timestamp, UTC."
          },
          "updatedAt": {
            "type": "string",
            "description": "ISO 8601 timestamp, UTC."
          }
        },
        "required": [
          "id",
          "name",
          "description",
          "filter",
          "count",
          "createdAt",
          "updatedAt"
        ]
      },
      "Company": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Brand or company name, as the classifier should call it."
          },
          "description": {
            "type": "string",
            "description": "What the company does, one paragraph."
          },
          "useCases": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "What people use the product for."
          },
          "accounts": {
            "type": "object",
            "properties": {
              "x": {
                "type": "string",
                "nullable": true,
                "description": "X handle without the @."
              },
              "linkedin": {
                "type": "string",
                "nullable": true,
                "description": "LinkedIn page slug or URL."
              }
            },
            "required": [
              "x",
              "linkedin"
            ],
            "description": "Your own accounts, so your own posts are recognized."
          },
          "context": {
            "type": "string",
            "description": "The text the classifier reads. Composed from the fields above unless you override it."
          }
        },
        "required": [
          "name",
          "description",
          "useCases",
          "accounts",
          "context"
        ]
      },
      "Alert": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Alert id (feed_...)."
          },
          "name": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "mode": {
            "type": "string",
            "enum": [
              "instant",
              "daily"
            ],
            "description": "instant: each matching mention as it happens. daily: one digest at the scheduled local time."
          },
          "filter": {
            "type": "object",
            "properties": {
              "keywordIds": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Only these keywords."
              },
              "platforms": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "bluesky",
                    "hackernews",
                    "github",
                    "stackoverflow",
                    "devto",
                    "reddit",
                    "x",
                    "youtube",
                    "news",
                    "linkedin"
                  ],
                  "description": "Platform: bluesky, hackernews, github, stackoverflow, devto, reddit, x, youtube, news, linkedin."
                },
                "description": "Only posts from these platforms."
              },
              "minRelevance": {
                "type": "integer",
                "minimum": 0,
                "maximum": 100,
                "description": "Only mentions scored at least this; unclassified ones never pass."
              },
              "sentiments": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "positive",
                    "neutral",
                    "negative"
                  ],
                  "description": "Classifier sentiment."
                },
                "description": "Only these sentiments."
              },
              "intents": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "At least one of these intents."
              },
              "excludeAuthors": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200
                },
                "maxItems": 200,
                "description": "Never these authors: display names, handles or profile URLs."
              },
              "minFollowers": {
                "type": "integer",
                "minimum": 0,
                "description": "Only authors with at least this many followers. Unknown reach never passes."
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 40
                },
                "maxItems": 20,
                "description": "Only authors your workspace tagged with any of these."
              },
              "linkHosts": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200
                },
                "maxItems": 20,
                "description": "Only posts linking to any of these hosts, the host itself or a subdomain of it (octolens.com also matches blog.octolens.com). A post with no links never passes."
              }
            }
          },
          "schedule": {
            "type": "object",
            "nullable": true,
            "properties": {
              "hour": {
                "type": "integer",
                "minimum": 0,
                "maximum": 23
              },
              "minute": {
                "type": "integer",
                "minimum": 0,
                "maximum": 59,
                "default": 0
              },
              "timezone": {
                "type": "string",
                "minLength": 1,
                "maxLength": 64
              },
              "skipEmpty": {
                "type": "boolean",
                "default": true
              }
            },
            "required": [
              "hour",
              "timezone"
            ],
            "description": "Daily alerts only."
          },
          "event": {
            "type": "string",
            "description": "Event name carried in webhook payloads; the mode default unless you set one."
          },
          "channels": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "kind": {
                  "type": "string",
                  "enum": [
                    "slack",
                    "email",
                    "webhook",
                    "telegram"
                  ]
                },
                "label": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "kind",
                "label"
              ]
            },
            "description": "Where it sends."
          },
          "stats": {
            "type": "object",
            "properties": {
              "sentLast7d": {
                "type": "integer",
                "minimum": 0,
                "description": "Deliveries in the last 7 days, across channels."
              },
              "lastSentAt": {
                "type": "string",
                "nullable": true,
                "description": "ISO 8601 timestamp, UTC."
              },
              "nextRunAt": {
                "type": "string",
                "nullable": true,
                "description": "Daily alerts: the next digest; null when disabled or instant."
              }
            },
            "required": [
              "sentLast7d",
              "lastSentAt",
              "nextRunAt"
            ],
            "description": "Computed over this workspace's deliveries."
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 timestamp, UTC."
          }
        },
        "required": [
          "id",
          "name",
          "enabled",
          "mode",
          "filter",
          "schedule",
          "event",
          "channels",
          "stats",
          "createdAt"
        ]
      },
      "AnalyticsSummary": {
        "type": "object",
        "properties": {
          "window": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                "description": "First day, inclusive."
              },
              "to": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                "description": "Last day, inclusive."
              },
              "days": {
                "type": "integer",
                "minimum": 0,
                "description": "Length of the window in days."
              },
              "timezone": {
                "type": "string",
                "description": "IANA zone the days were cut in."
              }
            },
            "required": [
              "from",
              "to",
              "days",
              "timezone"
            ],
            "description": "The window the report covers."
          },
          "matched": {
            "type": "integer",
            "minimum": 0,
            "description": "Every match in the window, relevant or not: the number usage counts."
          },
          "relevant": {
            "type": "integer",
            "minimum": 0,
            "description": "Matches scored at or above the relevance threshold."
          },
          "posts": {
            "type": "integer",
            "minimum": 0,
            "description": "Distinct posts behind the matches: a post matching two keywords is two matches, one post."
          },
          "people": {
            "type": "integer",
            "minimum": 0,
            "description": "Distinct authors behind the matches."
          },
          "sentiment": {
            "type": "object",
            "properties": {
              "positive": {
                "type": "integer",
                "minimum": 0,
                "description": "Classified positive."
              },
              "neutral": {
                "type": "integer",
                "minimum": 0,
                "description": "Classified neutral."
              },
              "negative": {
                "type": "integer",
                "minimum": 0,
                "description": "Classified negative."
              },
              "unclassified": {
                "type": "integer",
                "minimum": 0,
                "description": "Not scored: still queued, or the classifier failed on it."
              }
            },
            "required": [
              "positive",
              "neutral",
              "negative",
              "unclassified"
            ],
            "description": "Matched mentions by classifier sentiment."
          },
          "buyIntent": {
            "type": "integer",
            "minimum": 0,
            "description": "Matches carrying the buy_intent intent."
          },
          "questions": {
            "type": "integer",
            "minimum": 0,
            "description": "Matches carrying the question intent."
          },
          "reach": {
            "type": "object",
            "properties": {
              "followers": {
                "type": "integer",
                "minimum": 0,
                "description": "Followers summed over the distinct authors whose count is known: an estimate of the feeds the posts landed in."
              },
              "people": {
                "type": "integer",
                "minimum": 0,
                "description": "How many of `people` have a known follower count."
              }
            },
            "required": [
              "followers",
              "people"
            ],
            "description": "Estimated reach."
          },
          "triage": {
            "type": "object",
            "properties": {
              "open": {
                "type": "integer",
                "minimum": 0,
                "description": "Status open."
              },
              "ignored": {
                "type": "integer",
                "minimum": 0,
                "description": "Status ignored."
              },
              "done": {
                "type": "integer",
                "minimum": 0,
                "description": "Status done."
              },
              "waiting": {
                "type": "integer",
                "minimum": 0,
                "description": "Relevant, still open, and matched more than 24 hours ago."
              },
              "handledRate": {
                "type": "number",
                "nullable": true,
                "description": "done divided by relevant, 0 to 1; null when nothing was relevant."
              },
              "medianTimeToDoneMs": {
                "type": "number",
                "nullable": true,
                "description": "Median milliseconds from match to done; null when nothing was done."
              }
            },
            "required": [
              "open",
              "ignored",
              "done",
              "waiting",
              "handledRate",
              "medianTimeToDoneMs"
            ],
            "description": "Where the matches stand in your inbox."
          },
          "previous": {
            "type": "object",
            "nullable": true,
            "properties": {
              "matched": {
                "type": "integer",
                "minimum": 0,
                "description": "Every match in the window, relevant or not: the number usage counts."
              },
              "relevant": {
                "type": "integer",
                "minimum": 0,
                "description": "Matches scored at or above the relevance threshold."
              },
              "posts": {
                "type": "integer",
                "minimum": 0,
                "description": "Distinct posts behind the matches: a post matching two keywords is two matches, one post."
              },
              "people": {
                "type": "integer",
                "minimum": 0,
                "description": "Distinct authors behind the matches."
              },
              "sentiment": {
                "type": "object",
                "properties": {
                  "positive": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Classified positive."
                  },
                  "neutral": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Classified neutral."
                  },
                  "negative": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Classified negative."
                  },
                  "unclassified": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Not scored: still queued, or the classifier failed on it."
                  }
                },
                "required": [
                  "positive",
                  "neutral",
                  "negative",
                  "unclassified"
                ],
                "description": "Matched mentions by classifier sentiment."
              },
              "buyIntent": {
                "type": "integer",
                "minimum": 0,
                "description": "Matches carrying the buy_intent intent."
              },
              "questions": {
                "type": "integer",
                "minimum": 0,
                "description": "Matches carrying the question intent."
              },
              "reach": {
                "type": "object",
                "properties": {
                  "followers": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Followers summed over the distinct authors whose count is known: an estimate of the feeds the posts landed in."
                  },
                  "people": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "How many of `people` have a known follower count."
                  }
                },
                "required": [
                  "followers",
                  "people"
                ],
                "description": "Estimated reach."
              },
              "triage": {
                "type": "object",
                "properties": {
                  "open": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Status open."
                  },
                  "ignored": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Status ignored."
                  },
                  "done": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Status done."
                  },
                  "waiting": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Relevant, still open, and matched more than 24 hours ago."
                  },
                  "handledRate": {
                    "type": "number",
                    "nullable": true,
                    "description": "done divided by relevant, 0 to 1; null when nothing was relevant."
                  },
                  "medianTimeToDoneMs": {
                    "type": "number",
                    "nullable": true,
                    "description": "Median milliseconds from match to done; null when nothing was done."
                  }
                },
                "required": [
                  "open",
                  "ignored",
                  "done",
                  "waiting",
                  "handledRate",
                  "medianTimeToDoneMs"
                ],
                "description": "Where the matches stand in your inbox."
              }
            },
            "required": [
              "matched",
              "relevant",
              "posts",
              "people",
              "sentiment",
              "buyIntent",
              "questions",
              "reach",
              "triage"
            ],
            "description": "The same counts over the period of the same length right before the window; null unless compare=true."
          }
        },
        "required": [
          "window",
          "matched",
          "relevant",
          "posts",
          "people",
          "sentiment",
          "buyIntent",
          "questions",
          "reach",
          "triage",
          "previous"
        ]
      },
      "AnalyticsSeries": {
        "type": "object",
        "properties": {
          "window": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                "description": "First day, inclusive."
              },
              "to": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                "description": "Last day, inclusive."
              },
              "days": {
                "type": "integer",
                "minimum": 0,
                "description": "Length of the window in days."
              },
              "timezone": {
                "type": "string",
                "description": "IANA zone the days were cut in."
              },
              "bucket": {
                "type": "string",
                "enum": [
                  "day",
                  "week"
                ],
                "description": "Point granularity: day, or week (Monday to Sunday)."
              }
            },
            "required": [
              "from",
              "to",
              "days",
              "timezone",
              "bucket"
            ],
            "description": "The window the report covers."
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "Platform name, keyword id, \"total\" for the unsplit series, or \"other\" for the keys beyond the top 20."
                },
                "label": {
                  "type": "string",
                  "description": "Readable name: the platform, the keyword term, \"Total\" or \"Other\"."
                },
                "keyword": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Keyword id (kw_...)."
                    },
                    "term": {
                      "type": "string",
                      "description": "The tracked term."
                    },
                    "kind": {
                      "type": "string",
                      "enum": [
                        "brand",
                        "competitor",
                        "topic"
                      ],
                      "description": "brand, competitor or topic."
                    }
                  },
                  "required": [
                    "id",
                    "term",
                    "kind"
                  ],
                  "description": "Set when split by keyword; null otherwise."
                },
                "points": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                        "description": "The day, or the Monday of the week."
                      },
                      "matched": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Every match published in the bucket."
                      },
                      "relevant": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Of those, scored at or above the relevance threshold."
                      },
                      "positive": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Classified positive."
                      },
                      "neutral": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Classified neutral."
                      },
                      "negative": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Classified negative."
                      },
                      "unclassified": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Not scored: still queued, or the classifier failed on it."
                      }
                    },
                    "required": [
                      "date",
                      "matched",
                      "relevant",
                      "positive",
                      "neutral",
                      "negative",
                      "unclassified"
                    ]
                  },
                  "description": "One point per bucket across the window, oldest first, zero-filled."
                }
              },
              "required": [
                "key",
                "label",
                "keyword",
                "points"
              ]
            },
            "description": "One item per series, most matched first; a single \"total\" item when not split."
          },
          "previous": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "Platform name, keyword id, \"total\" for the unsplit series, or \"other\" for the keys beyond the top 20."
                },
                "label": {
                  "type": "string",
                  "description": "Readable name: the platform, the keyword term, \"Total\" or \"Other\"."
                },
                "keyword": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Keyword id (kw_...)."
                    },
                    "term": {
                      "type": "string",
                      "description": "The tracked term."
                    },
                    "kind": {
                      "type": "string",
                      "enum": [
                        "brand",
                        "competitor",
                        "topic"
                      ],
                      "description": "brand, competitor or topic."
                    }
                  },
                  "required": [
                    "id",
                    "term",
                    "kind"
                  ],
                  "description": "Set when split by keyword; null otherwise."
                },
                "points": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                        "description": "The day, or the Monday of the week."
                      },
                      "matched": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Every match published in the bucket."
                      },
                      "relevant": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Of those, scored at or above the relevance threshold."
                      },
                      "positive": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Classified positive."
                      },
                      "neutral": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Classified neutral."
                      },
                      "negative": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Classified negative."
                      },
                      "unclassified": {
                        "type": "integer",
                        "minimum": 0,
                        "description": "Not scored: still queued, or the classifier failed on it."
                      }
                    },
                    "required": [
                      "date",
                      "matched",
                      "relevant",
                      "positive",
                      "neutral",
                      "negative",
                      "unclassified"
                    ]
                  },
                  "description": "One point per bucket across the window, oldest first, zero-filled."
                }
              },
              "required": [
                "key",
                "label",
                "keyword",
                "points"
              ]
            },
            "description": "The same items over the period right before the window, in the same order, points aligned by index with `data` (the last bucket may be missing when weeks split differently); null unless compare=true."
          }
        },
        "required": [
          "window",
          "data",
          "previous"
        ]
      },
      "AnalyticsBreakdown": {
        "type": "object",
        "properties": {
          "window": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                "description": "First day, inclusive."
              },
              "to": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                "description": "Last day, inclusive."
              },
              "days": {
                "type": "integer",
                "minimum": 0,
                "description": "Length of the window in days."
              },
              "timezone": {
                "type": "string",
                "description": "IANA zone the days were cut in."
              }
            },
            "required": [
              "from",
              "to",
              "days",
              "timezone"
            ],
            "description": "The window the report covers."
          },
          "by": {
            "type": "string",
            "enum": [
              "platform",
              "keyword",
              "sentiment",
              "intent",
              "status",
              "hour",
              "person"
            ],
            "description": "The dimension the rows are grouped by."
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "key": {
                  "type": "string",
                  "description": "The group: platform name, keyword id, sentiment, intent, status, \"weekday-hour\" for by=hour, or an opaque person key."
                },
                "label": {
                  "type": "string",
                  "description": "Readable name: the keyword term, the person name, otherwise the key."
                },
                "keyword": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Keyword id (kw_...)."
                    },
                    "term": {
                      "type": "string",
                      "description": "The tracked term."
                    },
                    "kind": {
                      "type": "string",
                      "enum": [
                        "brand",
                        "competitor",
                        "topic"
                      ],
                      "description": "brand, competitor or topic."
                    }
                  },
                  "required": [
                    "id",
                    "term",
                    "kind"
                  ],
                  "description": "by=keyword only; null otherwise."
                },
                "person": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "id": {
                      "type": "string",
                      "nullable": true,
                      "description": "Person id (aut_...); null for posts ingested before people were linked."
                    },
                    "name": {
                      "type": "string",
                      "nullable": true,
                      "description": "Display name as the platform shows it."
                    },
                    "platform": {
                      "type": "string",
                      "enum": [
                        "bluesky",
                        "hackernews",
                        "github",
                        "stackoverflow",
                        "devto",
                        "reddit",
                        "x",
                        "youtube",
                        "news",
                        "linkedin"
                      ],
                      "description": "Platform: bluesky, hackernews, github, stackoverflow, devto, reddit, x, youtube, news, linkedin."
                    },
                    "url": {
                      "type": "string",
                      "nullable": true,
                      "description": "Profile URL."
                    },
                    "avatarUrl": {
                      "type": "string",
                      "nullable": true,
                      "description": "Avatar image URL, when the platform gave one."
                    },
                    "followers": {
                      "type": "integer",
                      "nullable": true,
                      "minimum": 0,
                      "description": "From the audience profile; null when unknown."
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "platform",
                    "url",
                    "avatarUrl",
                    "followers"
                  ],
                  "description": "by=person only; null otherwise."
                },
                "slot": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "weekday": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 6,
                      "description": "0 = Sunday through 6 = Saturday."
                    },
                    "hour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23,
                      "description": "Hour of day, 0 to 23."
                    }
                  },
                  "required": [
                    "weekday",
                    "hour"
                  ],
                  "description": "by=hour only: the weekday and hour of day in `timezone`; null otherwise."
                },
                "matched": {
                  "type": "integer",
                  "minimum": 0,
                  "description": "Matches in the group."
                },
                "relevant": {
                  "type": "integer",
                  "minimum": 0,
                  "description": "Of those, scored at or above the relevance threshold."
                },
                "share": {
                  "type": "number",
                  "description": "Percent of the window's matched mentions in this group, one decimal. Intents overlap, so their shares can add up past 100."
                },
                "sentiment": {
                  "type": "object",
                  "properties": {
                    "positive": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Classified positive."
                    },
                    "neutral": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Classified neutral."
                    },
                    "negative": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Classified negative."
                    },
                    "unclassified": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Not scored: still queued, or the classifier failed on it."
                    }
                  },
                  "required": [
                    "positive",
                    "neutral",
                    "negative",
                    "unclassified"
                  ],
                  "description": "Matched mentions by classifier sentiment."
                },
                "previous": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "matched": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Matches in the group then."
                    },
                    "relevant": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Relevant matches in the group then."
                    }
                  },
                  "required": [
                    "matched",
                    "relevant"
                  ],
                  "description": "The same group over the period right before the window; null unless compare=true."
                }
              },
              "required": [
                "key",
                "label",
                "keyword",
                "person",
                "slot",
                "matched",
                "relevant",
                "share",
                "sentiment",
                "previous"
              ]
            },
            "description": "Most matched first, at most 50 groups. by=hour is chronological and unlimited (168 cells at most)."
          }
        },
        "required": [
          "window",
          "by",
          "data"
        ]
      },
      "ShareOfVoice": {
        "type": "object",
        "properties": {
          "window": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                "description": "First day, inclusive."
              },
              "to": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}$",
                "description": "Last day, inclusive."
              },
              "days": {
                "type": "integer",
                "minimum": 0,
                "description": "Length of the window in days."
              },
              "timezone": {
                "type": "string",
                "description": "IANA zone the days were cut in."
              }
            },
            "required": [
              "from",
              "to",
              "days",
              "timezone"
            ],
            "description": "The window the report covers."
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "keyword": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Keyword id (kw_...)."
                    },
                    "term": {
                      "type": "string",
                      "description": "The tracked term."
                    },
                    "kind": {
                      "type": "string",
                      "enum": [
                        "brand",
                        "competitor",
                        "topic"
                      ],
                      "description": "brand, competitor or topic."
                    }
                  },
                  "required": [
                    "id",
                    "term",
                    "kind"
                  ],
                  "description": "The keyword this row is about."
                },
                "matched": {
                  "type": "integer",
                  "minimum": 0,
                  "description": "Matches of this keyword in the window."
                },
                "relevant": {
                  "type": "integer",
                  "minimum": 0,
                  "description": "Of those, scored at or above the relevance threshold."
                },
                "negative": {
                  "type": "integer",
                  "minimum": 0,
                  "description": "Of those, classified negative."
                },
                "buyIntent": {
                  "type": "integer",
                  "minimum": 0,
                  "description": "Of those, carrying the buy_intent intent."
                },
                "share": {
                  "type": "number",
                  "nullable": true,
                  "description": "Percent of brand plus competitor matches, one decimal; null for topics, which stay out of the split."
                },
                "previous": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "matched": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Matches of this keyword then."
                    }
                  },
                  "required": [
                    "matched"
                  ],
                  "description": "The same keyword over the period right before the window; null unless compare=true."
                }
              },
              "required": [
                "keyword",
                "matched",
                "relevant",
                "negative",
                "buyIntent",
                "share",
                "previous"
              ]
            },
            "description": "Every keyword matched in the window, most matched first."
          }
        },
        "required": [
          "window",
          "data"
        ]
      },
      "SlackChannel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Channel id (dest_...)."
          },
          "label": {
            "type": "string"
          },
          "stats": {
            "type": "object",
            "properties": {
              "alerts": {
                "type": "integer",
                "minimum": 0,
                "description": "Alerts sending to this channel."
              },
              "activeAlerts": {
                "type": "integer",
                "minimum": 0,
                "description": "Of those, enabled ones; 0 means the channel receives nothing right now."
              },
              "lastDeliveryAt": {
                "type": "string",
                "nullable": true,
                "description": "Newest delivery attempt, successful or not."
              },
              "last7d": {
                "type": "object",
                "properties": {
                  "total": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "failed": {
                    "type": "integer",
                    "minimum": 0
                  }
                },
                "required": [
                  "total",
                  "failed"
                ],
                "description": "Deliveries in the last 7 days."
              }
            },
            "required": [
              "alerts",
              "activeAlerts",
              "lastDeliveryAt",
              "last7d"
            ],
            "description": "Computed over this workspace's deliveries."
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 timestamp, UTC."
          },
          "kind": {
            "type": "string",
            "enum": [
              "slack"
            ]
          },
          "config": {
            "type": "object",
            "properties": {
              "channelId": {
                "type": "string",
                "description": "Slack channel id."
              },
              "channelName": {
                "type": "string",
                "description": "Slack channel name, without the #."
              }
            },
            "required": [
              "channelId",
              "channelName"
            ]
          }
        },
        "required": [
          "id",
          "label",
          "stats",
          "createdAt",
          "kind",
          "config"
        ]
      },
      "EmailChannel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Channel id (dest_...)."
          },
          "label": {
            "type": "string"
          },
          "stats": {
            "type": "object",
            "properties": {
              "alerts": {
                "type": "integer",
                "minimum": 0,
                "description": "Alerts sending to this channel."
              },
              "activeAlerts": {
                "type": "integer",
                "minimum": 0,
                "description": "Of those, enabled ones; 0 means the channel receives nothing right now."
              },
              "lastDeliveryAt": {
                "type": "string",
                "nullable": true,
                "description": "Newest delivery attempt, successful or not."
              },
              "last7d": {
                "type": "object",
                "properties": {
                  "total": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "failed": {
                    "type": "integer",
                    "minimum": 0
                  }
                },
                "required": [
                  "total",
                  "failed"
                ],
                "description": "Deliveries in the last 7 days."
              }
            },
            "required": [
              "alerts",
              "activeAlerts",
              "lastDeliveryAt",
              "last7d"
            ],
            "description": "Computed over this workspace's deliveries."
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 timestamp, UTC."
          },
          "kind": {
            "type": "string",
            "enum": [
              "email"
            ]
          },
          "config": {
            "type": "object",
            "properties": {
              "recipients": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string"
                    },
                    "confirmedAt": {
                      "type": "string",
                      "nullable": true,
                      "description": "Null until the address confirmed through its link; unconfirmed addresses receive nothing."
                    }
                  },
                  "required": [
                    "email",
                    "confirmedAt"
                  ]
                },
                "description": "Every address on the list and whether it confirmed."
              }
            },
            "required": [
              "recipients"
            ]
          }
        },
        "required": [
          "id",
          "label",
          "stats",
          "createdAt",
          "kind",
          "config"
        ]
      },
      "WebhookChannel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Channel id (dest_...)."
          },
          "label": {
            "type": "string"
          },
          "stats": {
            "type": "object",
            "properties": {
              "alerts": {
                "type": "integer",
                "minimum": 0,
                "description": "Alerts sending to this channel."
              },
              "activeAlerts": {
                "type": "integer",
                "minimum": 0,
                "description": "Of those, enabled ones; 0 means the channel receives nothing right now."
              },
              "lastDeliveryAt": {
                "type": "string",
                "nullable": true,
                "description": "Newest delivery attempt, successful or not."
              },
              "last7d": {
                "type": "object",
                "properties": {
                  "total": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "failed": {
                    "type": "integer",
                    "minimum": 0
                  }
                },
                "required": [
                  "total",
                  "failed"
                ],
                "description": "Deliveries in the last 7 days."
              }
            },
            "required": [
              "alerts",
              "activeAlerts",
              "lastDeliveryAt",
              "last7d"
            ],
            "description": "Computed over this workspace's deliveries."
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 timestamp, UTC."
          },
          "kind": {
            "type": "string",
            "enum": [
              "webhook"
            ]
          },
          "config": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "description": "Where the signed POSTs go."
              },
              "headers": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                },
                "description": "Extra request headers you configured."
              },
              "secret": {
                "type": "string",
                "description": "Only on creation and rotation. Signs every body: X-Mentions-Signature is the hex HMAC-SHA256 of the raw bytes."
              }
            },
            "required": [
              "url",
              "headers"
            ]
          }
        },
        "required": [
          "id",
          "label",
          "stats",
          "createdAt",
          "kind",
          "config"
        ]
      },
      "TelegramChannel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Channel id (dest_...)."
          },
          "label": {
            "type": "string"
          },
          "stats": {
            "type": "object",
            "properties": {
              "alerts": {
                "type": "integer",
                "minimum": 0,
                "description": "Alerts sending to this channel."
              },
              "activeAlerts": {
                "type": "integer",
                "minimum": 0,
                "description": "Of those, enabled ones; 0 means the channel receives nothing right now."
              },
              "lastDeliveryAt": {
                "type": "string",
                "nullable": true,
                "description": "Newest delivery attempt, successful or not."
              },
              "last7d": {
                "type": "object",
                "properties": {
                  "total": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "failed": {
                    "type": "integer",
                    "minimum": 0
                  }
                },
                "required": [
                  "total",
                  "failed"
                ],
                "description": "Deliveries in the last 7 days."
              }
            },
            "required": [
              "alerts",
              "activeAlerts",
              "lastDeliveryAt",
              "last7d"
            ],
            "description": "Computed over this workspace's deliveries."
          },
          "createdAt": {
            "type": "string",
            "description": "ISO 8601 timestamp, UTC."
          },
          "kind": {
            "type": "string",
            "enum": [
              "telegram"
            ]
          },
          "config": {
            "type": "object",
            "properties": {
              "chatId": {
                "type": "string",
                "description": "Telegram chat id."
              },
              "chatType": {
                "type": "string",
                "enum": [
                  "private",
                  "group",
                  "supergroup",
                  "channel"
                ]
              }
            },
            "required": [
              "chatId",
              "chatType"
            ]
          }
        },
        "required": [
          "id",
          "label",
          "stats",
          "createdAt",
          "kind",
          "config"
        ]
      },
      "Channel": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SlackChannel"
          },
          {
            "$ref": "#/components/schemas/EmailChannel"
          },
          {
            "$ref": "#/components/schemas/WebhookChannel"
          },
          {
            "$ref": "#/components/schemas/TelegramChannel"
          }
        ],
        "discriminator": {
          "propertyName": "kind",
          "mapping": {
            "slack": "#/components/schemas/SlackChannel",
            "email": "#/components/schemas/EmailChannel",
            "webhook": "#/components/schemas/WebhookChannel",
            "telegram": "#/components/schemas/TelegramChannel"
          }
        }
      },
      "CreateSlackChannel": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "slack"
            ]
          },
          "channelId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40,
            "description": "A Slack channel id from the connected workspace."
          },
          "channelName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "description": "The channel name, for the label."
          }
        },
        "required": [
          "kind",
          "channelId",
          "channelName"
        ]
      },
      "CreateEmailChannel": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "email"
            ]
          },
          "emails": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            },
            "minItems": 1,
            "maxItems": 20,
            "description": "Each address gets a confirmation link; workspace members are confirmed on sight."
          }
        },
        "required": [
          "kind",
          "emails"
        ]
      },
      "CreateWebhookChannel": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "webhook"
            ]
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "Where the signed POSTs go. https in production."
          },
          "label": {
            "type": "string",
            "maxLength": 80,
            "description": "A name for the channel; the host of the URL when omitted."
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "maxLength": 1024
            },
            "description": "Extra request headers to send, for your own auth."
          }
        },
        "required": [
          "kind",
          "url"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/health": {
      "get": {
        "operationId": "getHealth",
        "tags": [
          "System"
        ],
        "responses": {
          "200": {
            "description": "API is up",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/keywords": {
      "post": {
        "operationId": "createKeyword",
        "summary": "Track a keyword",
        "description": "Start tracking a word or phrase. Matching, classification and delivery begin on the next poll. A funded workspace tracks up to 500 keywords; each costs $5 per month, deducted daily from the balance.",
        "tags": [
          "Keywords"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "term": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 80,
                    "description": "The word or phrase to track, matched case-insensitively as a phrase."
                  },
                  "kind": {
                    "type": "string",
                    "enum": [
                      "brand",
                      "competitor",
                      "topic"
                    ],
                    "default": "brand",
                    "description": "brand: your own names. competitor: theirs. topic: the space. Drives share of voice and segments."
                  },
                  "platforms": {
                    "type": "array",
                    "nullable": true,
                    "items": {
                      "type": "string",
                      "enum": [
                        "bluesky",
                        "hackernews",
                        "github",
                        "stackoverflow",
                        "devto",
                        "reddit",
                        "x",
                        "youtube",
                        "news",
                        "linkedin"
                      ]
                    },
                    "minItems": 1,
                    "description": "Platforms to track it on; omit or null for every platform."
                  }
                },
                "required": [
                  "term"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created keyword",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Keyword"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "402": {
            "description": "Not enough balance for one more keyword-day (insufficient_balance), or the 500-keyword ceiling is reached (keyword_limit_reached)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "A keyword with the same normalized term already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listKeywords",
        "summary": "List keywords",
        "description": "Every keyword of the workspace, newest first, with its match stats and poll health.",
        "tags": [
          "Keywords"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "All keywords",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Keyword id (kw_...)."
                          },
                          "term": {
                            "type": "string"
                          },
                          "kind": {
                            "type": "string",
                            "enum": [
                              "brand",
                              "competitor",
                              "topic"
                            ]
                          },
                          "muted": {
                            "type": "boolean",
                            "description": "Not polled or matched. Either paused by you or by the wallet (see pausedForBalance)."
                          },
                          "pausedForBalance": {
                            "type": "boolean",
                            "description": "Muted by the wallet for lack of balance; a top-up resumes it, unmuting by hand needs balance too."
                          },
                          "platforms": {
                            "type": "array",
                            "nullable": true,
                            "items": {
                              "type": "string",
                              "enum": [
                                "bluesky",
                                "hackernews",
                                "github",
                                "stackoverflow",
                                "devto",
                                "reddit",
                                "x",
                                "youtube",
                                "news",
                                "linkedin"
                              ]
                            },
                            "minItems": 1,
                            "description": "Platforms this keyword is tracked on; null means every platform."
                          },
                          "stats": {
                            "type": "object",
                            "properties": {
[...]
